@box-background-color: @color-soft-peach;

@pirmary-underline-color: @color-oslo-gray;
@active-underline-color: @color-steel-blue;
@alternative-underline-color: @color-tiber;

@primary-label-color: @color-oslo-gray;
@active-label-color: @color-steel-blue;

@alternative-input-text-color: @color-tiber;

@primary-hint-color: @color-oslo-gray;

@primary-error-color: @color-torch-red;

@icon-primary-color: @color-oslo-gray;
@icon-active-color: @color-steel-blue;
@icon-alternative-color: @color-tiber;


/* Input styles */
.alternative-input {
  font-family: "Source Sans Pro", "sans-serif";

  &--box {
    background-color: @box-background-color;
    border-radius: 4px;
    display: flex;
    min-height: 67px;
    flex-wrap: wrap;
    padding-bottom: -10px;
    padding-top: 8px;
    position: relative;
  }

  &--label {
    order: 1;
    padding-left: 50px;
    width: 100%;
    color: @primary-label-color;
    cursor: text;
    font-weight: 400;
    font-size: 16px;
    transition: all .3s ease;
    min-height: 16px;
    transform: translateY(18px);
  }

  &--prefix,
  &--suffix {
    align-self: center;
    color: @color-oslo-gray;
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    transform: translateY(-2px);
  }

  &--prefix {
    order: 2;
    padding-left: 50px;
    padding-right: 3px;

    &---fake {
      padding-right: 0;
    }
  }

  &--field {
    appearance: none;
    background-color: transparent;
    order: 3;
    resize: none;
    border: none;
    min-height: 42px;
    height: 42px;
    padding-bottom: 20px;
    overflow: hidden;
    margin: 7px 0 -8px;
    color: #0a3443;
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    flex: 100 5 auto;
    width: 10px;
    transform: translateY(-8px);
    transition: transform .3s ease;

    &:focus {
      outline: none;
      transform: translateY(0);

      & ~ .alternative-input--label {
        font-size: 12px;
        transform: translateY(0);
      }

      & ~ .alternative-input--decoration {
        background-color: @color-steel-blue;
      }

      & ~ .alternative-input--icon {
        svg {
          fill: @color-steel-blue;
        }
      }
    }

    &:not([value=""]) {
      transform: translateY(0);

      & ~ .alternative-input--label {
        font-size: 12px;
        transform: translateY(0);
      }
    }
  }

  &--suffix {
    order: 4;
    padding-left: 3px;
    padding-right: 16px;
  }

  &--decoration {
    width: 100%;
    height: 2px;
    background-color: @color-tiber;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    order: 5;
    transition: all .3s ease;
  }

  &--hint,
  &--hint-left,
  &--hint-right {
    color: @primary-hint-color;
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
  }

  &--hint {
    width: 100%;
    order: 8;
  }

  &--hint-group {
    display: flex;
  }
  &--hint-left {
    display: inline-block;
    order: 8;
    width: 50%;
  }
  &--hint-right {
    display: inline-block;
    order: 9;
    text-align: right;
    width: 50%;
  }

  &--error {
    display: flex;
    margin-top: 6px;
    order: 9;
    width: 100%;
  }
  &--error-text {
    color: @primary-error-color;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    width: 100%;
  }
  &--error-icon {
    min-width: 10px;
    background: url(../images/icons/error-triangle.svg) no-repeat center center;
    background-size: contain;
  }


  &--icon {
    position: absolute;
    width: 35px;
    align-self: center;
    left: 16px;
    top: 50%;
    margin-top: -9px;

    svg {
      width: 18px;
      height: 18px;
      fill: @color-tiber;
      transition: fill .3s ease;
    }
  }

  &---with-error {
    .alternative-input--label {
      color: @color-torch-red!important;
    }

    .alternative-input--icon svg {
      fill: @color-torch-red!important;
    }

    .alternative-input--decoration {
      background-color: @color-torch-red!important;
    }
  }
}
