@primary-error-color: @color-torch-red;

@primary-tick-color: @color-puerto-rico;

.checkbox-input {
  display: inline-block;
  width: 100%;

  &::after {
    content: "";
    display: block;
  }

  &--label {
    color: #8b9399;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    user-select: none;
    width: 100%;
    margin-left: -5px;
  }

  &--checkbox {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #dfdfdf;
    display: inline-block;
    height: 21px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 21px;

    svg {
      fill: @primary-tick-color;
      height: 11px;
      opacity: 0;
      transition: opacity .3s ease;
      width: 11px;
    }
  }

  &--field {
    appearance: none;
    display: none;
    margin: 0;

    &:checked {
      & ~ .checkbox-input--label .checkbox-input--checkbox {
        svg {
          opacity: 1;
        }
      }
    }
  }

  &--error {
    display: flex;
    margin-top: 6px;
    order: 9;
    width: 100%;
  }
  &--error-text {
    color: @primary-error-color;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
  }
  &--error-icon {
    min-width: 10px;
    background: url(../images/icons/error-triangle.svg) no-repeat center center;
    background-size: contain;
  }

  &---with-error {
    .primary-input--label,
    .primary-input--error-text {
      color: @color-torch-red!important;
    }

    .primary-input--decoration {
      &::before,
      &::after {
        background-color: @color-torch-red!important;
      }
    }

    .primary-input--icon {
      svg {
        fill: @color-torch-red !important;
      }
    }
  }
}