.form-buttons {
  margin: 20px -10px;


  &---inside-grid {
    margin: 30px -25px;

    @media screen and (min-width: 768px) {
      margin: 30px -10px;
    }
  }

  @media screen and (max-width: 1023px) {
    padding: 0 34px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 15px;
    /*flex-wrap: nowrap;*/
  }

  &--button {
    padding: 10px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &--wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
}