@pirmary-underline-color: @color-oslo-gray;
@active-underline-color: @color-steel-blue;
@alternative-underline-color: @color-tiber;

@primary-label-color: @color-oslo-gray;
@active-label-color: @color-steel-blue;

@primary-input-text-color: @color-tiber;

@primary-hint-color: @color-oslo-gray;

@primary-error-color: @color-torch-red;

@icon-primary-color: @color-oslo-gray;
@icon-active-color: @color-steel-blue;
@icon-alternative-color: @color-tiber;

/*Local mixins*/
.primary-input---locked-top() {
  transform: translateY(3px);
  font-size: 12px;
}

/* Input styles */
.primary-input {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Source Sans Pro", "sans-serif";
  position: relative;
  width: 100%;

  &--icon {
    position: absolute;
    width: 35px;
    align-self: center;
    left: 0;
    top: 50%;
    margin-top: -2px;

    svg {
      width: 18px;
      height: 18px;
      fill: @icon-primary-color;
      transition: fill .3s ease;
    }
  }

  &--fake-label-prefix {
    height: 0;
    opacity: 0;
    order: 1;
    transition: all .3s ease;
    max-width: 100px;
    padding-right: 10px;
  }

  &--label {
    color: @primary-label-color;
    cursor: text;
    font-size: 16px;
    flex: 10 100 auto;
    font-weight: 400;
    min-height: 16px;
    order: 2;
    transform: translateY(25px);
    transition: all .3s ease;
    width: 10px;
    z-index: 2;
  }

  &--label-line-break {
    order: 3;
    width: 100%;
  }

  &--fake-label-prefix,
  &--prefix,
  &--suffix {
    color: @color-oslo-gray;
    font-family: "Source Sans Pro", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 11px;
  }

  &--prefix {
    align-self: flex-end;
    order: 4;
    flex: 1 1 auto;
    padding-right: 3px;
  }

  &--field {
    appearance: none;
    background-color: transparent;
    border: none;
    bottom: 7px;
    color: @primary-input-text-color;
    flex: 100 5 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
    min-height: 25px;
    order: 5;
    position: relative;
    z-index: 2;
    width: 10px;

    &:not([value=""]) {
      & ~ .primary-input--fake-label-prefix {
        max-width: 0;
        padding-right: 0;
      }

      & + .primary-input--label {
        .primary-input---locked-top();
      }

      & ~ .primary-input--icon {
        svg {
          fill: @icon-alternative-color;
        }
      }

      & ~ .primary-input--decoration {
        &::before {
          background-color: @alternative-underline-color;
        }
      }
    }

    &:focus {
      outline: none;

      & ~ .primary-input--icon {
        svg {
          fill: @icon-active-color;
        }
      }

      & ~ .primary-input--fake-label-prefix {
        max-width: 0;
        padding-right: 0;
      }

      & ~ .primary-input--label {
        .primary-input---locked-top();
        color: @active-label-color;
      }

      & ~ .primary-input--decoration {
        &::after {
          animation: underline-widen .3s;
          transition: linear;
          animation-fill-mode: forwards;
          background-color: @active-underline-color;
        }
      }
    }

    &:disabled{
      background-color: transparent;
      color: @color-oslo-gray;

      & ~ .primary-input--label {
        cursor: not-allowed;
      }

      & ~ .primary-input--decoration {
        &::before {
          height: 0;
          background-color: transparent;
          border-bottom: 1px dashed @color-silver-sand;
        }
      }
    }
  }

  &--suffix  {
    align-self: flex-end;
    font-size: 14px;
    order: 6;
    padding-left: 3px;
    text-align: right;
    flex: 1 1 auto;
  }
  &--password-eye {
    position: relative;
    z-index: 3;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      fill: @color-tiber;
    }

    &---active {
      svg {
        fill: @color-oslo-gray;
      }
    }
  }

  &--decoration {
    display: block;
    height: 2px;
    width: 100%;
    order: 7;
    margin-top: 0px;
    position: relative;

    &::before {
      background-color: @pirmary-underline-color;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
    }

    &::after {
      background-color: @pirmary-underline-color;
      content: "";
      display: block;
      height: 2px;
      left: 35%;
      opacity: 0;
      position: absolute;
      width: 30%;

      animation: underline-shorten .3s;
      transition: linear;
      animation-fill-mode: forwards;
    }
  }

  &--caret {
    right: 0;
    top: 33px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
    transition: transform .3s ease;

    &---opened {
      transform: rotate(225deg);
    }

    svg {
      width: 7px;
      height: 7px;
      fill: @color-tiber;
    }
  }

  &--hint {
    color: @primary-hint-color;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
    width: 100%;
    order: 8;
  }

  &--error {
    display: flex;
    margin-top: 6px;
    order: 9;
    width: 100%;

    &---hide {
      display: none;
    }
  }
  &--error-text {
    color: @primary-error-color;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    width: 100%;
  }
  &--error-icon {
    min-width: 10px;
    background: url(../images/icons/error-triangle.svg) no-repeat center center;
    background-size: contain;
  }

  /* Modifiers */
  &---with-error {
    .primary-input--label,
    .primary-input--error-text {
      color: @color-torch-red!important;
    }

    .primary-input--decoration {
      &::before,
      &::after {
        background-color: @color-torch-red!important;
      }
    }

    .primary-input--icon {
      svg {
        fill: @color-torch-red !important;
      }
    }

    &.primary-input---select {
      .primary-input--field { /* Code for Firefox */
        color: @color-torch-red;
      }
    }
  }

  &---with-icon {
    padding-left: 35px;
  }

  &---select {
    .primary-input--label {
      .primary-input---locked-top();
    }

    .primary-input--field {
      cursor: pointer;

      &[data-toggle="focus"] ~ .primary-input--caret {
        transform: rotate(225deg);
      }
    }
  }

  &---split-input {
    .primary-input--label {
      .primary-input---locked-top();
      white-space: nowrap;
    }

    .primary-input--fake-label-prefix {
      max-width: 0;
      padding-right: 0;
    }
  }

  &---one-digit {
    .primary-input--field {
      font-size: 36px;
    }
  }

  &---hint-on-focus {
    .primary-input--hint {
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s ease;
    }

    .primary-input--field:focus {
      & ~ .primary-input--hint {
        max-height: 100px;
        transition: max-height .8s ease;
      }
    }
  }
}

/* Animations */
@keyframes underline-widen {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    width: 30%;
    left: 35%;
  }
  100% {
    opacity: 1;
    width: 100%;
    left: 0;
  }
}
@keyframes underline-shorten {
  0% {
    opacity: 1;
    width: 100%;
    left: 0;
  }
  99% {
    opacity: 1;
    width: 0;
    left: 50%;
  }
  100% {
    opacity: 0;
  }
}