.upload-file-link {
  &--label {
    background-color: transparent;
    border: none;
    color: @color-carnation;
    cursor: pointer;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    font-weight: 400;
    text-decoration: underline;

    &:focus {
      outline: none;
    }

    &:hover {
      color: @color-well-red;
    }
  }

  &--field {
    display: none;
  }
}