.content-wrapper {
  .content-wrapper-heading {
    .content-wrapper-heading-title {
      color: #555555;
      font-weight: bold;
    }
  }
  .content-wrapper-body {
    margin-top: 10px;
    .fields {
      counter-reset: level1counter;
      .field-item {
        &:before {
          counter-increment: level1counter;
          content: counter(level1counter);
        }
        > .field-wrapper {
          padding: 20px 30px 20px 50px;
        }
      }
      > .field-item {
        &:first-child {
          > .field-wrapper > .panel-heading > .panel-options > .btn-move-up,
          > .field-wrapper > .panel-heading > .panel-options > .btn-move-down {
            display: none;
          }
        }
        &:last-child {
          > .field-wrapper > .panel-heading > .panel-options > .btn-move-down {
            display: none;
          }
        }
      }
      .field-wrapper.panel-nord-blue > .panel-heading > .panel-options > .btn-move-up,
      .field-wrapper.panel-nord-blue > .panel-heading > .panel-options > .btn-move-down {
        display: none;
      }
    }
  }
  .btn {
    &.btn-custom-content {
      background: #d0006e;
      color: #fff;
    }
  }
}

.options-wrapper {
  background-color: #e4e4ee;
  padding: 15px 30px;
  margin: -22px -30px 10px -30px;
  .input-wrapper {
    .options {
      margin-bottom: 5px;
    }
  }
}

.field-wrapper {
  background: #f6f6f6;
  .field-wrapper {
    background: #fff;
    .field-wrapper {
      background: #f6f6f6;
    }
  }
  .control-label {
    color: #555555;
    font-weight: bold;
  }
}

.field-item {
  position: relative;
  &:before {
    align-items: center;
    background: #E3E4E9;
    color: #5F637F;
    content: '';
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 22px;
    z-index: 1;
  }
  .gallery-wrapper {
    .image-wrapper {
      margin: 5px 0;
      display: inline-block;
      img {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
      }
    }
  }
  .image-wrapper {
    background: #fff;
    padding: 20px;
    position: relative;
    &.error {
      background-color: #8b4746;
      color: #fff;
    }
  }
  .remove-button {
    &.btn {
      position: absolute;
      width: 26px;
      height: 26px;
      top: -13px;
      right: -13px;
      z-index: 1;
    }
  }
  .select-image-wrapper {
    position: relative;
    .btn {
      position: relative;
      z-index: 1;
    }
    input[name="image-value"],
    input[name="gallery-value"] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      top: 0;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      padding: 0;
      bottom: 0;
      margin: 0;
    }
  }
  textarea {
    height: 90px;
  }
  .add-list-item-wrapper {
    position: relative;
    .btn {
      position: relative;
      z-index: 1;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      top: 0;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      padding: 0;
      bottom: 0;
      margin: 0;
    }
  }
}

.text-area-field {
  width: 100%;
  height: 90px;
  outline: none;
  background-color: #fff;
  padding: 6px 12px;
  overflow: auto;
  border: 1px solid #e4e4e4;
  font-size: 13px;
  color: #555555 !important;
  line-height: 1.42857143;
}

.text-area-field {
  p {
    color: #555555 !important;
  }
}

.text-area-field {
  a {
    color: #0d59b4;
    text-decoration: underline;
  }
}

.editor {
  width: 100%;
  display: flex;
  flex-flow: row;
  background-color: #5F637F;
  div {
    position: relative;
    padding: 5px 7px;
    i {
      color: #fff;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: #7c809c;
  }
}

.editor-anchor {
  padding: 0 !important;
  &:hover {
    background-color: #5F637F !important;
  }
}

.editor-anchor-input {
  position: relative;
  /*width: 300px;*/
  /*top: 0;*/
  /*left: 100%;*/
  z-index: 2;
  height: 20px;
  margin-top: -2px;
  input {
    outline: none;
    display: inline;
    border: 1px solid #5F637F;
    border-radius: 0;
    color: #555;
  }
  button {
    outline: none;
    display: inline;
    background-color: #5F637F;
    color: #fff;
    border: none;
    padding: 2px 6px;
    border-radius: 0;
    &:hover {
      background-color: #7c809c;
    }
  }
}

div[id*='cke_editor'] {
  display: none !important;
}

.json[data-name="template-table"] {
  & > .field-wrapper {
    .btn-move-up, .btn-move-down, .remove-button {
      display: none;
    }
    &:first-child {

    }
  }
}

.json[data-name="template-table-heading-row-wrapper"] {
  display: flex;
  flex-flow: row;
  flex: 1;
  .field-wrapper {
    margin: 0;
    width: 100%;
    .panel-heading {
      display: none;
    }
  }
}

.json[data-name="template-table-2-wrapper"],
.json[data-name="template-table-3-wrapper"],
.json[data-name="template-table-4-wrapper"] {
  .content-wrapper-body {
    margin-bottom: 10px;
  }
  .field-wrapper.panel-nord-default.panel.panel-default.panel-border {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 15px;
  }
}

.json[data-name="template-table-row-2-wrapper"],
.json[data-name="template-table-row-3-wrapper"],
.json[data-name="template-table-row-4-wrapper"] {
  display: flex;
  flex-flow: row;
  flex: 1 1 0;
  .field-wrapper {
    margin: 0;
    width: 100%;
    .panel-heading {
      display: none;
    }
  }
}

.json[data-name="template-table-wrapper"] {
  .btn-move-up, .btn-move-down, .remove-button {
    display: inline-block !important;
  }
}