.panel {
  &.panel-nord-default {
    & > .panel-heading {
      background-color: #5F637F;
      border: 1px solid #5F637F;
      color: #fff;
      margin-left: -30px;
      margin-top: -20px;
      margin-right: -30px;
      padding: 20px 30px;
      .panel-title {
        font-weight: bold;
      }
      .panel-options {
        a {
          color: #fff;
          line-height: 18px;
          min-width: 18px;
          min-height: 18px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
  &.panel-nord-blue {
    & > .panel-heading {
      background-color: #a6a8ba;
      border: 1px solid #a6a8ba;
      color: #fff;
    }
  }
}