.alternative-panel {
  background-color: @color-tiber;
  border-radius: 4px;
  padding: 31px 20px;
  width: 100%;

  &---loan-for-RE-sticky {
    position: fixed;
    top: 20px;
  }

  &--subheading {
    color: @color-silver-sand;
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    margin-top: 3px;
  }

  &--amount {
    margin-top: 34px;
    display: flex;
    align-items: center;
  }

  &--amount-value {
    flex-grow: 1;
    color: @color-white;
    font-family: "Source Sans Pro", 'sans-serif';
    font-size: 48px;
    font-weight: 400;

    &---run-animation {
      animation: amount-value-ajax-animation .3s;
      animation-fill-mode: forwards;
    }
  }

  &--amount-suffix {
    padding-right: 6px;

    svg {
      width: 36px;
      height: 38px;
      fill: @color-carnation;
    }
  }

  &---small {
    padding: 19px;

    .alternative-panel--amount-value {
      font-size: 32px;
    }
    .alternative-panel--amount-suffix {
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .alternative-panel--amount {
      margin-top: 8px
    }
    .alternative-panel--subheading {
      font-size: 14px;
      font-weight: 400;
      margin-top: 0;
    }
  }

  &---secondary {
    background-color: @color-carnation;

    .alternative-panel--subheading {
      color: @color-pippin;
    }
    .alternative-panel--amount-suffix {
      svg {
        fill: @color-well-red;
      }
    }
  }
}

@keyframes amount-value-ajax-animation {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}