@application-processing-background-color: @color-white;
@application-processing-text-color: @color-tiber;
@application-processing-step-number-color: @color-white;
@application-processing-step-number-alternative-color: @color-silver-sand;
@application-processing-completed-background-color: @color-puerto-rico;
@application-processing-processing-background-color: @color-tiber;
@application-processing-idle-background-color: @color-oslo-gray;
@application-processing-completed-svg-color: @color-lochinvar;

.application-processing {
  background-color: @application-processing-background-color;
  border-radius: 4px;
  display: flex;
  margin: 10px 0;
  overflow: hidden;

  &--status {
    background-color: @application-processing-completed-background-color;
    height: 50px;
    position: relative;
    width: 50px;
    min-width: 50px;
  }
  &--completed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);

    &::after {
      border-radius: 30px;
      border: 2px solid @application-processing-completed-svg-color;
      content: "";
      display: block;
      height: 30px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3D(-50%, -50%, 0);
      width: 30px;
    }

    svg {
      width: 14px;
      height: 14px;
      fill: @application-processing-completed-svg-color;
    }
  }
  &--processing {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);

    svg {
      fill: @application-processing-completed-svg-color;
      height: 35px;
      width: 35px;
      left: 50%;
      position: absolute;
      top: 50%;
      z-index: 1;
      transform: translate3D(-50%, -50%, 0);
    }

    svg:last-child {
      z-index: 0;
      fill: @application-processing-background-color;
    }
  }
  &--step-number {
    color: @application-processing-step-number-color;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate3D(1px, -50%, 0);
  }
  &--static {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
  }

  &--label {
    color: @application-processing-text-color;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    margin-left: 20px;
  }

  /* Modifiers*/
  &--status {
    &---completed {
      .application-processing--processing,
      .application-processing--step-number {
        display: none;
      }
    }

    &---processing,
    &---static {
      background-color: @application-processing-processing-background-color;

      .application-processing--step-number {
        color: @application-processing-step-number-color;
      }

      .application-processing--completed,
      .application-processing--idle {
        display: none;
      }

      & ~ .application-processing--label {
        font-weight: 600;
      }
    }

    &---static {
      .application-processing--processing {
        svg {
          display: none;
        }

        &::after {
          border-radius: 30px;
          border: 2px solid @color-white;
          content: "";
          display: block;
          height: 30px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate3D(-50%, -50%, 0);
          width: 30px;
        }
      }
    }

    &---idle {
      background-color: @application-processing-idle-background-color;

      .application-processing--step-number {
        color: @application-processing-step-number-alternative-color;

        &::after {
          border-radius: 30px;
          border: 2px solid @application-processing-step-number-alternative-color;
          content: "";
          display: block;
          height: 30px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate3D(-50%, -50%, 0);
          width: 30px;
        }
      }

      .application-processing--completed,
      .application-processing--processing {
        display: none;
      }
    }
  }
}