.bank-office-sign {
  &--form {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &--input {
    margin-right: 20px;
    max-width: 460px;
    width: 100%;
  }
  &--button {
    @media screen and (max-width: 767px) {
      margin: 20px 0 0 0;
    }
  }
}