.cms-user-block {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  &--wrapper {
    background-color: @color-oslo-gray;
    cursor: pointer;
    height: 80px;
    position: relative;
    width: 290px;
  }

  &--info {
    color: white;
    padding: 0 34px 0 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &--avatar {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: @color-white;
      height: 30px;
      width: 30px;
    }
  }

  &--name,
  &--company-name {
    color: @color-white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }


  &--company-name {
    font-size: 12px;
    line-height: 14px;
  }

  &--dropdown-caret {
    margin-top: -3px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .3s ease;

    svg {
      fill: @color-white;
      height: 12px;
      width: 12px;
    }
  }

  &--dropdown {
    bottom: 0;
    opacity: 1;
    position: absolute;
    transform: translateY(0);
    width: 100%;
    z-index: -1;
  }
  &--dropdown-item {
    background-color: @color-silver-sand;
    color: @color-white;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    padding: 8px 15px;
    width: 100%;
    text-decoration: none;


    &:hover {
      background-color: @color-soft-peach;
      color: @color-oslo-gray;
    }

    &:nth-child(n+2) {
      border-top: 1px solid #ccc;
    }
  }

  /* Modifiers */
  &---expanded {
    .cms-user-block {
      &--dropdown-caret {
        transform: rotate(225deg);
      }

      &--dropdown {
        animation: dropdown-fade-in .3s;
        animation-fill-mode: forwards;
      }
    }
  }

  &---collapsed {
    .cms-user-block {
      &--dropdown {
        animation: dropdown-fade-out .3s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes dropdown-fade-in {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  1% {
    display: block;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes dropdown-fade-out {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  99% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}