.company-info {


  &--search-inputs {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &--search-input {
    width: 100%;
    margin-right: 20px;
  }

  &--search-suggestions {
    margin-left: 35px;
    position: relative;
    width: calc(~'100% - 35px');
    z-index: 3;
  }

  &--search-button {
    margin-top: 10px;
    min-width: 181px;
    text-align: right;

    @media screen and (max-width: 767px) {
      margin-top: 24px;
      width: 100%;
    }
  }
}

/* todo: make JS handle it */
@media screen and (max-width: 767px) {
  [data-expand-target="change-company"] {
    animation: expandable-expand .3s ease!important;
    animation-fill-mode: forwards;
  }
}