@primary-confirm-data-background-color: @color-soft-peach;
@primary-confirm-data-label-color: @color-oslo-gray;
@primary-confirm-data-value-color: @color-tiber;

.confirm-data {
  width: 100%;
  padding: 11px 15px;
  background-color: @primary-confirm-data-background-color;
  &--label {
    color: #8b9399;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  &--value {
    margin-top: 12px;
    color: #022f40;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42em;
  }
}