.document {
  &--heading {
    background-color: @color-soft-peach;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    overflow: hidden;
  }

  &--recipient {
    flex: 1 1 auto;
    padding: 15px;

    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &--sign {
    padding: 15px 15px;
  }
  &--signed,
  &--not-signed {
    display: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: @color-tiber;

    svg {
      transform: translateY(2px);
      width: 12px;
      height: 12px;
      fill: @color-torch-red;
    }
  }

  &--not-signed {
    display: block;
    color: @color-torch-red;
  }

  &--content {
    object {
      width: 100%;
      height: 670px;
    }
    embed {
      width: 100%;
    }
  }
}