@primary-link-color: @color-tiber;
@hover-link-background-color: @color-soft-peach;

.dropdown {
  opacity: 0;
  transform: translateY(90%);
  z-index: -1;


  position: absolute;
  bottom: -20px;
  right: 0;
  box-shadow: 0 1px 4px #dfdfdf;
  border-radius: 2px;
  background-color: #ffffff;

  max-height: 250px;
  overflow: auto;

  animation: dropdown-fadeOut .3s;
  animation-fill-mode: forwards;

  &---active {
    animation: dropdown-fadeIn .3s;
    animation-fill-mode: forwards;
  }

  &---full {
    width: 100%;
  }

  &--item {
    border-bottom: 1px solid @color-soft-peach;
    color: @primary-link-color;
    cursor: pointer;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 20px;
    text-decoration: none;
    white-space: nowrap;

    @media screen and (max-width: 767px) {
        max-width: 290px;
        white-space: inherit;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
        background-color: @hover-link-background-color;
    }
  }

  &--preloader {
    text-align: center;
    padding: 15px;

    svg {
      fill: @color-tiber;
      width: 25px;
      height: 25px;
    }
  }

  &--message {
    padding: 20px;
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

@keyframes dropdown-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 2;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
    z-index: 2;
  }
}

@keyframes dropdown-fadeOut {
  0% {
    opacity: 1;
    transform: translateY(100%);
    z-index: 2;
  }
  99% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 2;
  }
  100% {
    opacity: 0;
    transform: translateY(90%);
    z-index: -1;
  }
}