.expandable {
  /* Pre-collapsed */
  animation: expandable-pre-collapsed .1ms ease;
  animation-fill-mode: forwards;
  /* --- */

  &---collapsed {
    animation: expandable-collapse .3s ease;
    animation-fill-mode: forwards;
    overflow: hidden;
  }

  &---expanded {
    animation: expandable-expand .3s ease;
    animation-fill-mode: forwards;
  }
}

@keyframes expandable-expand {
  0% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
  99% {
    overflow: hidden;
    margin-bottom: 10px;
  }
  100% {
    overflow: visible;
    margin-bottom: 10px;
  }
}

@keyframes expandable-collapse {
  0% {
    overflow: visible;
    margin-bottom: 10px;
  }
  1% {
    overflow: hidden;
    margin-bottom: 10px;
  }
  100% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
}

@keyframes expandable-pre-collapsed {
  0% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
  100% {
    overflow: hidden;
    transform: translateY(-50000px);
    max-height: 0;
    margin-bottom: 0;
  }
}