.file-upload-control {
  &--file {
    background-color: @color-soft-peach;
    border-radius: 4px;
    display: flex;
    padding: 10px 15px;
    margin: 5px 0 0;

    &:first-child {
      margin-top: 24px;
    }
  }
  &--file-icon {
    margin-right: 10px;
    svg {
      width: 18px;
      height: 18px;
      fill: @color-carnation;
    }
  }
  &--file-name {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    flex: 1 1 auto;
  }
  &--file-remove {
    display: none;

    &---inited {
      display: block;
    }
  }
  &--file-preloader {
    svg {
      width: 18px;
      height: 18px;
      fill: @color-carnation;
    }

    &---loaded {
      display: none;
    }
  }
}