@footer-instructions-background-color: @color-oslo-gray;
@footer-instructions-heading-color: @color-white;
@footer-instructions-link-color: @color-white;
@footer-instructions-link-hover-color: @color-silver-sand;

.footer-instructions {
  background-color: @footer-instructions-background-color;
  margin: 60px 0 -60px;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    bottom: 93px;
  }

  &--wrapper {
    margin: 0 -10px;
  }

  &--content {
    width: 100%;
    max-width: 1230px;
    padding: 24px 15px;
    margin: 0 auto;
    display: flex;
  }

  &--instructions {
    display: flex;
    flex-wrap: wrap;
  }

  &--other-docs {
    display: flex;
    flex-direction: column;
  }

  &--heading {
    width: 100%;
    margin-bottom: 24px;
    font-size: 20px;
    color: @footer-instructions-heading-color;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0 10px;
  }

  &--item {
    min-width: 33.333333%;
    padding: 0 10px;
  }

  &--link {
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    color: @footer-instructions-link-color;

    &:hover {
      color: @footer-instructions-link-hover-color;
    }
  }
}