@footer-background-color: @color-white;
@footer-help-label-color: @color-tiber;

.footer {
  background-color: @footer-background-color;
  margin-top: 60px;
  overflow: hidden;
  padding: 20px 0;
  flex: 1 0 auto;
  width: 100%;

  &--content {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1179px) {
      padding: 0 34px
    }

    @media screen and (max-width: 767px) {
      padding: 0 15px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &--copyright {
    flex: 1 3 auto;
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 24px;

    @media screen and (max-width: 1023px) {
      flex: 1 3 auto;
      font-size: 14px;
      min-width: 115px;
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
      order: 2;
      text-align: center;
      width: 100%;
    }
  }

  &--navigation {
    flex: 200 0 auto;
    margin: 0 -10px;

    @media screen and (max-width: 1023px) {
      flex: 2 1 auto;
      font-size: 14px;
      min-width: 115px;
    }

    @media screen and (max-width: 767px) {
      order: 1;
      text-align: center;
      width: 100%;
    }
  }
  &--navigation-item {
    display: inline-block;
    padding: 0 10px;
  }

  &--help {
    display: flex;
    flex: 0 10 325px;
    align-items: center;
    text-align: right;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &--help-label {
    color: @footer-help-label-color;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    min-width: 140px;
    padding-left: 14px;
    margin-right: 20px;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
      padding-left: 5px;
      min-width: 110px;
    }
  }

  /* modifiers */
  &---manager {
    background-color: @color-tiber;

    .footer {
      &--copyright {
        color: @color-white;
      }

      &--logo {
        flex: 1 100 225px;

        @media screen and (max-width: 767px) {
          width: 100%;
          text-align: center;

          svg {
            width: 161px;
          }
        }
      }

      &--logo-subinfo {
        font-size: 12px;
        color: @color-white;
        margin-top: 10px;

        @media screen and (max-width: 767px) {
          margin-top: 4px;
          font-size: 10px;
        }
      }
    }
  }

  &---cms {
    .footer {
      &--content {
        max-width: 100%;
        padding: 0 30px;
      }
    }
  }
}