.g-recaptcha {
    margin-top: 8px;

    & ~ .primary-input--error {
        width: 302px;
    }

    @media screen and (max-width: 352px) {
        transform: scale(.965) translateX(-6px);

        ~ .primary-input--error {
            width: 290px;
        }
    }
}