@header-info-row-background-color: @color-white;
@header-info-row-border-color: @color-soft-peach;
@header-info-row-text-color: @color-tiber;
@header-info-row-flask-liquid-background-color: @color-carnation;

.header-info-row {
  background-color: @header-info-row-background-color;
  border-bottom: 1px solid @header-info-row-border-color;
  min-height: 54px;

  @media screen and (max-width: 767px) {
    min-height: 26px;
  }

  &--content {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 54px;
    min-height: 54px;
    overflow: hidden;

    @media screen and (max-width: 1179px) {
      padding: 0 34px;
    }

    @media screen and (max-width: 767px) {
      padding: 7px 15px;
      flex-wrap: wrap;
    }
  }

  &--desktop-text {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
  &--tablet-text {
    display: none;

    @media screen and (max-width: 1023px) {
      display: block;
    }
  }
  &--desktop-text,
  &--tablet-text {
    color: @header-info-row-text-color;
    flex: 10 10 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &--title {
    color: @header-info-row-text-color;
    flex: 10 10 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px
    }
  }

  &--order-id,
  &--company,
  &--company-head {
    flex: 0 0 auto;
    margin: 0 15px;
    font-size: 12px;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
  &--order-id-label,
  &--order-id-value,
  &--company-label,
  &--company-value,
  &--company-head-label,
  &--company-head-value {
    font-family: "Source Sans Pro", sans-serif;
    font-size: inherit;

    span {
      font-weight: 600;
    }
  }
  &--order-id-label,
  &--company-label,
  &--company-head-label {
    font-weight: 600;
  }



  &--flask {
    align-self: center;
    background-color: #f3f2f2;
    border-radius: 100px;
    flex: 9 1 auto;
    height: 12px;
    padding: 2px;
    max-width: 380px;
    min-width: 180px;
  }
  &--flask-liquid {
    height: 8px;
    border-radius: 100px;
    background-color: @header-info-row-flask-liquid-background-color;
  }

  /* Modifiers */
  &---cms {
    .header-info-row {
      &--content {
        max-width: 100%;
        padding: 0 30px;
      }
    }
  }
}