@header-brand-row-background-color: @color-tiber;
@header-brand-row-border-color: @color-deap-sea-green;
@header-brand-row-text-color: @color-white;

.header-brand-row {
  background-color: @header-brand-row-background-color;
  position: relative;

  &--content {
    display: flex;
    height: 80px;
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;

    @media screen and (max-width: 1179px) {
      padding: 0 34px;
    }

    @media screen and (max-width: 767px) {
      padding: 0 15px;
      height: 52px;
    }
  }
  &--logo {
    padding: 32px 0;
    flex: 1 100 225px;

    @media screen and (max-width: 767px) {
      padding: 18px 0;
      flex: 1 100 161px;

      svg {
        width: 161px;
      }
    }
  }
  &--logo-subinfo {
    font-size: 12px;
    color: @color-white;
    margin-top: 10px;
  }

  &--buttons {
    display: flex;
    flex: 100 1 auto;
    justify-content: flex-end;
    padding: 20px 0;

    @media screen and (max-width: 767px) {
      padding: 11px 0;
    }
  }
  &--button-group {
    border-right: 1px solid @header-brand-row-border-color;
    display: flex;
    align-items: center;

    &:last-child {
      border-right: none;

      .header-brand-row--button {
        padding-right: 0;
      }
    }
  }
  &--button-label {
    display: inline-block;
    color: @header-brand-row-text-color;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  &--button {
    padding: 0 30px 0 20px;
    display: inline-block;

    @media screen and (max-width: 767px) {
      display: block;
      padding: 0 14px 0 14px;
    }
  }

  &---manager {
    @media screen and (max-width: 767px) {
      .header-brand-row {
        &--logo {
          padding: 16px 0;
        }
        &--logo-subinfo {
          margin-top: 2px;
          font-size: 10px;
        }
      }
    }
  }

  /* Modifiers */
  &---cms {
    .header-brand-row--content {
      max-width: 100%;
      padding: 0 30px;
    }
  }
}