@primary-data-info-row-background-color: @color-white;

.header-primary-data-info-row {
  background-color: @primary-data-info-row-background-color;
  border-bottom: 1px solid @color-soft-peach;

  &--content {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1180px;
    padding: 18px 0;
    width: 100%;
    align-items: center;

    @media screen and (max-width: 1023px) {
      padding: 18px 34px;
    }

    @media screen and (max-width: 767px) {
      padding: 18px 15px;
    }
  }

  &--item {
    position: relative;
    margin: 0 10px;

    @media screen and (max-width: 767px) {
      margin: 0 3px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}