.icon-circle {
  align-items: center;
  background-color: @color-soft-peach;
  border-radius: 45px;
  display: inline-flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  width: 90px;

  svg {
    fill: @color-carnation;
    width: 51px;
    height: 51px;
  }
}