@primary-background-color: @color-soft-peach;
@primary-label-color: @color-oslo-gray;
@primary-value-color: @color-tiber;
@primary-svg-color: @color-carnation;

@prefixed-icon-svg-color: @color-white;
@prefixed-icon-svg-background-color: @color-carnation;


.info-block {
  background-color: @primary-background-color;
  border-radius: 4px;
  padding: 11px 15px;
  position: relative;
  min-width: 200px;

  @media screen and (max-width: 767px) {
    min-width: 118px;
  }

  &--label,
  &--value {
    padding-right: 50px;
    font-family: "Source Sans Pro", sans-serif;

    @media screen and (max-width: 767px) {
      padding-right: 15px;
    }

    & > span {
      @media screen and (max-width: 767px) {
        display: none;
      }

      &:last-child {
        display: none;

        @media screen and (max-width: 767px) {
          display: block;
        }
      }
    }
  }

  &--label {
    color: @primary-label-color;
    font-size: 12px;
    font-weight: 400;

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
  &--value {
    color: @primary-value-color;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
  }
  &--icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      right: 10px;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: @primary-svg-color;
    }
  }

  /* Modiefiers */
  &---prefixed-icon {
    padding: 16px 15px;

    .info-block--label,
    .info-block--value {
      padding-left: 60px;
    }

    .info-block--label {
      font-size: 14px;
    }

    .info-block--value {
      font-size: 20px;
    }

    .info-block--icon {
      align-items: center;
      background-color: @prefixed-icon-svg-background-color;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      height: 30px;
      justify-content: center;
      left: 15px;
      right: inherit;
      text-align: center;
      width: 30px;


      svg {
        fill: @prefixed-icon-svg-color;
      }
    }
  }
}