.inputs-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -12px -10px;

  &--full {
    padding: 12px 10px;
    width: 100%;

    &---multiple-checkbox {
      padding-top: 0;
    }
  }

  &--half {
    padding: 12px 10px;
    width: 50%;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &--third {
    padding: 12px 10px;
    width: 33.3333%;

    @media screen and (max-width: 1024px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &--fourth {
    padding: 12px 10px;
    width: 25%;
    display: flex;
    align-items: stretch;

    @media screen and (max-width: 1024px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &---data-grid {
    .inputs-grid--third,
    .inputs-grid--fourth {
      padding: 10px;
    }
  }

  &---centered {
    align-items: center;
  }
}