.isign {
  &--label,
  &--result {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &--status {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &--status-label,
  &--status-code {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &--status-label {
    padding-right: 24px;
    flex: 0 1 auto;
  }
  &--status-code {
    padding: 6px 28px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 28px;
    background-color: @color-soft-peach;
    color: @color-carnation;
    flex: 0 1 auto;
  }
  &--status-buttons {
    flex: 1 1 auto;
    text-align: right;
  }
  &--status-button {
    display: inline-block;
  }

  &--form {
    display: flex;
    width: 100%;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  &--input {
    flex: 2 2 auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &--button {
    margin-left: 20px;
    width: 160px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
}