.list {

  &--item {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    line-height: 24px;
    padding-left: 15px;

    &::before {
      content: "•";
      position: absolute;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
      left: 0;
    }
  }
}