.locker {
  padding: 5px 0;

  &--heading {
    background-color: @color-soft-peach;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
  }
  &--caret {
    padding: 22px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    svg {
      fill: @color-tiber;
      height: 12px;
      transform-origin: 50% 50%;
      transition: transform .3s ease;
      width: 12px;
    }


    &---flipped {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &--heading-text {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    flex: 1 1 auto;

    @media screen and (max-width: 767px) {
      padding-left: 10px;
    }
  }
  &--not-read-and-closed,
  &--not-read ,
  &--read {
    padding: 23px 20px;
    display: none;

    svg {
      width: 11px;
      height: 11px;
      fill: @color-torch-red;
    }
  }
  &--read {
    display: block;
  }
  &--viewed-info {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      & > * span:last-child {
        display: none;
      }
    }

    &---viewed {
      color: @color-puerto-rico;

      svg {
        width: 11px;
        height: 11px;
        fill: @color-puerto-rico;
        margin-right: 10px;
        transform: translateY(1px);

        @media screen and (max-width: 767px) {
          transform: translateY(-2px);
          width: 15px;
          height: 15px;
        }
      }
    }
  }


  &--content {
    border: 2px solid @color-soft-peach;
    border-top: none;
    padding: 20px;

    @media screen and (max-width: 767px) {
      padding: 5px;
    }
  }
}