.main-preloader {
  padding: 20px;
  width: 100%;
  text-align: center;

  &--animation {
    display: inline-block;

    svg {
      width: 25px;
      height: 25px;
      fill: @color-tiber;
    }
  }
}

.panel-preloader {
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;

  svg {
    width: 25px;
    height: 25px;
    fill: @color-tiber;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
  }
}