.notice {
  display: flex;

  @media screen and (max-width: 1023px) {
    padding: 0 34px;
  }


  &--icon {
    svg {
      width: 18px;
      height: 18px;
      fill: @color-tiber;
    }

    &---alternative {
      svg {
        fill: @color-carnation;
      }
    }
  }
  &--content {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 15px;
  }

  &---standalone {
    margin: 24px 0;
  }
}