.page-title {
  margin: 0 auto;
  max-width: 1242px;
  padding: 30px 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  & > *:first-child {
    flex: 1 1 auto;
  }


  &---responsive {
    padding: 30px 34px;
  }

  @media screen and (max-width: 1023px) {
    padding: 30px 34px;
  }

  @media screen and (max-width: 767px) {
    padding: 30px 15px;
  }

  &--button {
    margin-left: 15px;

    @media screen and (max-width: 767px) {
      position: relative;
      transform: translateY(0);
      top: inherit;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      display: none;
    }

    &---hidden {
      display: none;
      z-index: -1;
    }
  }

  &--buttons {
    margin: -5px 0 -5px 15px;
  }
  &--buttons-item {
    padding: 5px 0;
  }

  &---before-buttons {
    padding-bottom: 0;
  }
}