.paysera-sign {
  &--container {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }

  &--item {
    width: 20%;
    padding: 4px;

    label {
      display: block;
      background-color: @color-soft-peach;
      height: 86px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 480px) {
        height: 55px;
      }
    }
    input {
      display: none;
      &:checked ~ label {
        outline-color: @color-puerto-rico;
        outline-style: solid;
        outline-width: 1px;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 25%;
    }

    @media screen and (max-width: 767px) {
      width: 33.3333%;
    }

    @media screen and (max-width: 480px) {
      width: 50%;
    }
  }

  &--logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top: 25px;
    left: 40px;
    right: 40px;
    bottom: 25px;

    @media screen and (max-width: 480px) {
      top: 10px;
      left: 18px;
      right: 18px;
      bottom: 10px;

    }
  }

  &--notice {
    margin: 14px 0;
  }

  &--button {
    margin: 20px 0;
  }
}