@policy-popup-border-color: #f5f5f5;
@policy-popup-shadow-color: #dfdfdf;

.policy-popup {
    box-shadow: 0 1px 2px @policy-popup-shadow-color;
    border-radius: 4px;
    background-color: @color-white;
    max-height: calc(~'100vh - 30px');
    max-width: 780px;
    width: 100%;
    overflow: hidden;

    &--heading {
        padding: 17px 24px;
        display: flex;
        border-bottom: 1px solid @policy-popup-border-color;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &--heading-text {
       @media screen and (max-width: 767px) {
            width: calc(~'100% - 36px');
            order: 1;
        }
    }

    &--heading-buttons {
        flex: 1 1 auto;
        text-align: right;
        border-right: 1px solid @policy-popup-border-color;
        padding-right: 14px;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
            order: 3;
            text-align: center;
            width: 100%;
        }
    }

    &--heading-button {
        display: inline-block;
        padding: 0 10px;
    }

    &--close {
        width: 36px;
        text-align: right;

        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

    &--subheading {
        margin: 24px 0;
    }

    &--content {
        overflow: auto;
        padding: 0 24px 27px;
    }
}