.popup {
    align-items: center;
    background-color: rgba(10, 52, 67, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    overflow: auto;

    animation: popup-fadeIn .3s;
    animation-fill-mode: forwards;

    &---fix-overflow {
        align-items: flex-start;
    }

    &--item {
        animation: popup-item-fadeIn .3s;
        animation-delay: .2s;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateY(-30px);
        z-index: -1;

        & > svg {
            fill: @color-white;
            width: 50px;
            height: 50px;
        }
    }
}

@keyframes popup-fadeIn {
    0% {
        z-index: -1;
        opacity: 0;
    }
    1% {
        z-index: 3;
        opacity: 0;
    }
    100% {
        z-index: 3;
        opacity: 1;
    }
}

@keyframes popup-item-fadeIn {
    0% {
        z-index: -1;
        opacity: 0;
        transform: translateY(-30px);
    }
    1% {
        z-index: 3;

        opacity: 0;transform: translateY(-30px);
    }
    100% {
        z-index: 3;
        opacity: 1;
        transform: translateY(0);
    }
}