.primary-panel {
  background-color: @color-white;
  border-radius: 4px;
  box-shadow: 0 1px 2px @color-silver-sand;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;

  &[data-file-drag-box="1"] {
    &::before {
      bottom: 5px;
      content: "";
      display: block;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
      border: 2px dashed @color-oslo-gray;
      border-radius: 4px;
    }
  }

  &---with-sticking-elements {
    overflow: visible;
  }

  .property-content--add-button {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }

    /* todo: find better way to do this and still stick to maintainable CSS spec */
    .property-content--add-button {
      display: block;
    }
  }

  &--heading {
    border-bottom: 2px solid @color-soft-peach;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 24px 20px;
    position: relative;

    &---alternative {
      background-color: @color-tiber;
      color: @color-white;
      border-bottom: none;
    }

    &---with-block {
      align-items: center;
      display: flex;
      padding: 15px 20px;

      & > :first-child {
        line-height: 50px;
        flex: 1 1 auto;
        padding-right: 24px;
      }

      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
    }
  }
  &--heading-block {
    align-items: center;
    background-color: @color-soft-peach;
    display: flex;
    padding: 15px 20px;
    flex: 1 1 auto;
  }
  &--heading-block-label {
    color: @color-tiber;
    flex: 1 1 auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &--heading-block-value {
    color: @color-carnation;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 24px;
  }
  &--heading-button,
  &--heading-close-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 767px) {
      //dont know why i wrote this. If bug is finded use this code, and separate this class from popup heading close button class
      /*left: inherit;
      margin: 20px 0 0;
      padding: 0 15px;
      position: relative;
      top: inherit;
      transform: inherit;*/
    }

    &---hidden {
      display: none;
    }
  }
  &--heading-close-button {
    &::before {
      background-color: @color-soft-peach;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
    }
  }

  &--separator {
    height: 2px;
    width: 100%;
    background-color: @color-soft-peach;
    margin: 20px 0;
  }

  &--content {
    padding: 24px 20px;
    font-size: 0;

    &---flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (max-width: 767px) {
        padding: 15px;

        flex-wrap: wrap;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 15px;
    }
  }
  &--content-heading {
    margin-bottom: 20px;
  }

  &--content-column {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    width: 50%;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }

    &:nth-child(2n) {
      padding-left: 10px;
      padding-right: 0;

      @media screen and (max-width: 767px) {
        padding-left: 0;
        margin-top: 20px;
      }
    }
  }

  &--content-row {
    width: 100%;
    vertical-align: middle;
  }

  &--colored-column-content {
    border-radius: 4px;
    background-color: @color-soft-peach;
    padding: 24px 30px;
  }

  &--buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
  &--button {
    padding: 5px;
  }

  &---hidden {
    display: none;
  }
}
