.profile-popup {
  &--content {
    margin: 0 auto;
    width: 337px;

    @media screen and (max-width: 767px) {
      width: 265px
    }

  }
  &--text {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }

  &--submit-button{
    margin-top: 40px;
  }

  &--links,
  &--inputs {
    margin-top: 55px;
  }

  &--links {
    margin-bottom: 100px;
  }

  &--login-links {
    margin: 15px 0;
  }
}