[data-property]:first-child:last-child {
  .property-content--heading {
    display: none;
  }
}

.property-content {
  &--remove-button {
    position: absolute;
    right: 3px;
    top: 3px;

    animation: fade-show .3s ease;
    animation-fill-mode: forwards;

    &---hide {
      z-index: -1;
      opacity: 0;
      animation: fade-hide .3s ease;
      animation-fill-mode: forwards;
    }

    &---in-main-heading {
      top: -5px;
    }
  }

  &--heading {
    position: relative;
    margin-bottom: 24px;
  }

  &--update-button {
    margin: 20px 0 0;
  }

  &--add-button {
    position: absolute;
    right: 20px;
    transition: all .3s ease;
    z-index: 2;

    &---hide {
      opacity: 0;
    }
  }

  &--animated-inputs,
  &--update-button {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;

    &---active {
      max-height: 40px;
    }
  }

  &--animated-inputs {
    margin-top: 12px;

    &---standalone {
      margin-top: 0;
    }

    &---active {
      max-height: 400px;
    }
  }

  &--title {
    margin: 21px 0;

    &---first-element {
      margin: 0 0 21px;
    }
  }

  &--alternative-panel {
    margin-top: 15px;
  }
}

@keyframes fade-hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes fade-show {
  0% {
    z-index: -1;
    opacity: 0;
  }
  1% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}