.re-validation {
  &--image-wrapper {
    text-align: center;
    margin: 27px 0 24px;
  }

  &--logo {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    height: 48px;
    background-image: url(../images/ober-haus-logo.png);
    margin: 21px 0 20px;
  }

  &--text {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 44px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 446px;
    padding: 0 15px;
    text-align: center;
    width: 100%;
  }
}