.split-input-error {
  &--error {
    display: flex;
    margin-top: 6px;
    order: 9;
    width: 100%;

    &---hide {
      display: none;
    }
  }
  &--error-text {
    color: @primary-error-color;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 400;
    width: 100%;
  }
  &--error-icon {
    min-width: 10px;
    background: url(../images/icons/error-triangle.svg) no-repeat center center;
    background-size: contain;
  }
}