@split-input-seperator-color: @color-oslo-gray;

.split-input {
  width: 100%;
  display: flex;
  align-items: stretch;

  & > * {
    align-self: flex-start;
  }

  &--item {
    flex: 1 1 auto;

    input {
       text-align: center;
    }
  }

  &--seperator {
    color: @split-input-seperator-color;
    flex: 0 0 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    text-align: center;
    margin-top: 24px;
  }

  &---2-times {
    .split-input--item {
      width: 50%;
    }
  }
  &---4-times {
    .split-input--item {
      flex: 1 0 auto;
      width: 10%;
    }
  }
}