.tabbed-panel  {
  width: 100%;
  box-shadow: 0 1px 2px #dfdfdf;
  border-radius: 4px;

  &--header {
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    height: 70px;
    position: relative;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      overflow: hidden;
      height: 58px;
      position: relative;
      z-index: 1;

      &[data-tabbed-header="closed"] {
        overflow: hidden;
      }
      &[data-tabbed-header="opened"] {
        overflow: visible;
      }
    }

    & > [data-tabbed-header-button] {
      width: 100%;

      @media screen and (max-width: 767px) {
        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          overflow: hidden;
        }

        &:nth-last-child(2) {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          overflow: hidden;
        }
      }
    }
  }

  &--header-dropdown-caret {
    position: absolute;
    top: 22px;
    right: 15px;
    transform: rotate(45deg);
    display: none;

    @media screen and (max-width: 767px) {
      display: inherit;
    }

    svg {
      width: 7px;
      height: 7px;
      fill: @color-white;
    }
  }

  &--button {
    background-color: @color-tiber;
    border: none;
    color: @color-white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 26px 0;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      padding: 20px 15px 20px;
      color: @color-white;
      text-align: left;
    }

    &:hover,
    &---clicked {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: @color-froly;
      }
    }
  }

  &--content {
    padding: 26px 20px;
    background-color: @color-white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &--subheading {
    margin-bottom: 20px;
  }
}