.wait {
  margin: 24px 0;

  &--preloader {
    margin: 0 auto;
    width: 40px;
    height: 40px;

    svg {
      fill: @color-tiber;
      width: 40px;
      height: 40px;
    }
  }

  &--main-message {
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 15px;
    text-align: center;
    width: 100%;
  }
}