.working-time {
  display: flex;
  flex-wrap: wrap;

  &--item {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: @color-tiber;
    width: 50%;

    span {
      margin-right: 12px;
      color: @color-oslo-gray;
    }
  }
}