/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
button:focus {
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="number"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
body {
  line-height: 1;
  background-color: #FBF7F8;
  position: relative;
  overflow-y: scroll;
}
.display-only-for-print {
  display: none;
}
.hide {
  display: none;
}
.prefab {
  display: none;
}
@media print {
  body * {
    display: none!important;
  }
  .display-only-for-print,
  .display-only-for-print * {
    display: block;
  }
  .display-only-for-print {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
select::-ms-expand {
  display: none;
}
.h1 {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .h1 {
    font-size: 20px;
  }
}
.h3 {
  color: #0a3443;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 18px;
  font-weight: 600;
}
.h3---invert {
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .h3 {
    font-size: 16px;
  }
}
.h4 {
  color: #f45d51;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 16px;
  font-weight: 600;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.h4---invert {
  color: #FFF;
}
.h4--icon {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
.h4--icon svg {
  width: 18px;
  height: 18px;
  fill: #f45d51;
}
.paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
/* Input styles */
.alternative-input {
  font-family: "Source Sans Pro", "sans-serif";
}
.alternative-input--box {
  background-color: #FBF7F8;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  min-height: 67px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: -10px;
  padding-top: 8px;
  position: relative;
}
.alternative-input--label {
  -ms-flex-order: 1;
      order: 1;
  padding-left: 50px;
  width: 100%;
  color: #8B9399;
  cursor: text;
  font-weight: 400;
  font-size: 16px;
  transition: all .3s ease;
  min-height: 16px;
  transform: translateY(18px);
}
.alternative-input--prefix,
.alternative-input--suffix {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #8B9399;
  font-family: "Source Sans Pro", 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  transform: translateY(-2px);
}
.alternative-input--prefix {
  -ms-flex-order: 2;
      order: 2;
  padding-left: 50px;
  padding-right: 3px;
}
.alternative-input--prefix---fake {
  padding-right: 0;
}
.alternative-input--field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  -ms-flex-order: 3;
      order: 3;
  resize: none;
  border: none;
  min-height: 42px;
  height: 42px;
  padding-bottom: 20px;
  overflow: hidden;
  margin: 7px 0 -8px;
  color: #0a3443;
  font-family: "Source Sans Pro", 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  -ms-flex: 100 5 auto;
      flex: 100 5 auto;
  width: 10px;
  transform: translateY(-8px);
  transition: transform .3s ease;
}
.alternative-input--field:focus {
  outline: none;
  transform: translateY(0);
}
.alternative-input--field:focus ~ .alternative-input--label {
  font-size: 12px;
  transform: translateY(0);
}
.alternative-input--field:focus ~ .alternative-input--decoration {
  background-color: #448ba5;
}
.alternative-input--field:focus ~ .alternative-input--icon svg {
  fill: #448ba5;
}
.alternative-input--field:not([value=""]) {
  transform: translateY(0);
}
.alternative-input--field:not([value=""]) ~ .alternative-input--label {
  font-size: 12px;
  transform: translateY(0);
}
.alternative-input--suffix {
  -ms-flex-order: 4;
      order: 4;
  padding-left: 3px;
  padding-right: 16px;
}
.alternative-input--decoration {
  width: 100%;
  height: 2px;
  background-color: #0a3443;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -ms-flex-order: 5;
      order: 5;
  transition: all .3s ease;
}
.alternative-input--hint,
.alternative-input--hint-left,
.alternative-input--hint-right {
  color: #8B9399;
  font-family: "Source Sans Pro", 'sans-serif';
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
}
.alternative-input--hint {
  width: 100%;
  -ms-flex-order: 8;
      order: 8;
}
.alternative-input--hint-group {
  display: -ms-flexbox;
  display: flex;
}
.alternative-input--hint-left {
  display: inline-block;
  -ms-flex-order: 8;
      order: 8;
  width: 50%;
}
.alternative-input--hint-right {
  display: inline-block;
  -ms-flex-order: 9;
      order: 9;
  text-align: right;
  width: 50%;
}
.alternative-input--error {
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -ms-flex-order: 9;
      order: 9;
  width: 100%;
}
.alternative-input--error-text {
  color: #FF1944;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.alternative-input--error-icon {
  min-width: 10px;
  background: url(../images/icons/error-triangle.svg) no-repeat center center;
  background-size: contain;
}
.alternative-input--icon {
  position: absolute;
  width: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 16px;
  top: 50%;
  margin-top: -9px;
}
.alternative-input--icon svg {
  width: 18px;
  height: 18px;
  fill: #0a3443;
  transition: fill .3s ease;
}
.alternative-input---with-error .alternative-input--label {
  color: #FF1944 !important;
}
.alternative-input---with-error .alternative-input--icon svg {
  fill: #FF1944 !important;
}
.alternative-input---with-error .alternative-input--decoration {
  background-color: #FF1944 !important;
}
.checkbox-input {
  display: inline-block;
  width: 100%;
}
.checkbox-input::after {
  content: "";
  display: block;
}
.checkbox-input--label {
  color: #8b9399;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  margin-left: -5px;
}
.checkbox-input--checkbox {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 2px #dfdfdf;
  display: inline-block;
  height: 21px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 21px;
}
.checkbox-input--checkbox svg {
  fill: #46BFA5;
  height: 11px;
  opacity: 0;
  transition: opacity .3s ease;
  width: 11px;
}
.checkbox-input--field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
  margin: 0;
}
.checkbox-input--field:checked ~ .checkbox-input--label .checkbox-input--checkbox svg {
  opacity: 1;
}
.checkbox-input--error {
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -ms-flex-order: 9;
      order: 9;
  width: 100%;
}
.checkbox-input--error-text {
  color: #FF1944;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.checkbox-input--error-icon {
  min-width: 10px;
  background: url(../images/icons/error-triangle.svg) no-repeat center center;
  background-size: contain;
}
.checkbox-input---with-error .primary-input--label,
.checkbox-input---with-error .primary-input--error-text {
  color: #FF1944 !important;
}
.checkbox-input---with-error .primary-input--decoration::before,
.checkbox-input---with-error .primary-input--decoration::after {
  background-color: #FF1944 !important;
}
.checkbox-input---with-error .primary-input--icon svg {
  fill: #FF1944 !important;
}
.form-buttons {
  margin: 20px -10px;
}
.form-buttons---inside-grid {
  margin: 30px -25px;
}
@media screen and (min-width: 768px) {
  .form-buttons---inside-grid {
    margin: 30px -10px;
  }
}
@media screen and (max-width: 1023px) {
  .form-buttons {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .form-buttons {
    padding: 0 15px;
    /*flex-wrap: nowrap;*/
  }
}
.form-buttons--button {
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .form-buttons--button {
    width: 100%;
  }
}
.form-buttons--wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
/*Local mixins*/
/* Input styles */
.primary-input {
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Source Sans Pro", "sans-serif";
  position: relative;
  width: 100%;
  /* Modifiers */
}
.primary-input--icon {
  position: absolute;
  width: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  left: 0;
  top: 50%;
  margin-top: -2px;
}
.primary-input--icon svg {
  width: 18px;
  height: 18px;
  fill: #8B9399;
  transition: fill .3s ease;
}
.primary-input--fake-label-prefix {
  height: 0;
  opacity: 0;
  -ms-flex-order: 1;
      order: 1;
  transition: all .3s ease;
  max-width: 100px;
  padding-right: 10px;
}
.primary-input--label {
  color: #8B9399;
  cursor: text;
  font-size: 16px;
  -ms-flex: 10 100 auto;
      flex: 10 100 auto;
  font-weight: 400;
  min-height: 16px;
  -ms-flex-order: 2;
      order: 2;
  transform: translateY(25px);
  transition: all .3s ease;
  width: 10px;
  z-index: 2;
}
.primary-input--label-line-break {
  -ms-flex-order: 3;
      order: 3;
  width: 100%;
}
.primary-input--fake-label-prefix,
.primary-input--prefix,
.primary-input--suffix {
  color: #8B9399;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 11px;
}
.primary-input--prefix {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-order: 4;
      order: 4;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding-right: 3px;
}
.primary-input--field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  bottom: 7px;
  color: #0a3443;
  -ms-flex: 100 5 auto;
      flex: 100 5 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 11px;
  min-height: 25px;
  -ms-flex-order: 5;
      order: 5;
  position: relative;
  z-index: 2;
  width: 10px;
}
.primary-input--field:not([value=""]) ~ .primary-input--fake-label-prefix {
  max-width: 0;
  padding-right: 0;
}
.primary-input--field:not([value=""]) + .primary-input--label {
  transform: translateY(3px);
  font-size: 12px;
}
.primary-input--field:not([value=""]) ~ .primary-input--icon svg {
  fill: #0a3443;
}
.primary-input--field:not([value=""]) ~ .primary-input--decoration::before {
  background-color: #0a3443;
}
.primary-input--field:focus {
  outline: none;
}
.primary-input--field:focus ~ .primary-input--icon svg {
  fill: #448ba5;
}
.primary-input--field:focus ~ .primary-input--fake-label-prefix {
  max-width: 0;
  padding-right: 0;
}
.primary-input--field:focus ~ .primary-input--label {
  transform: translateY(3px);
  font-size: 12px;
  color: #448ba5;
}
.primary-input--field:focus ~ .primary-input--decoration::after {
  animation: underline-widen 0.3s;
  transition: linear;
  animation-fill-mode: forwards;
  background-color: #448ba5;
}
.primary-input--field:disabled {
  background-color: transparent;
  color: #8B9399;
}
.primary-input--field:disabled ~ .primary-input--label {
  cursor: not-allowed;
}
.primary-input--field:disabled ~ .primary-input--decoration::before {
  height: 0;
  background-color: transparent;
  border-bottom: 1px dashed #BDBEC0;
}
.primary-input--suffix {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  -ms-flex-order: 6;
      order: 6;
  padding-left: 3px;
  text-align: right;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.primary-input--password-eye {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.primary-input--password-eye svg {
  width: 16px;
  height: 16px;
  fill: #0a3443;
}
.primary-input--password-eye---active svg {
  fill: #8B9399;
}
.primary-input--decoration {
  display: block;
  height: 2px;
  width: 100%;
  -ms-flex-order: 7;
      order: 7;
  margin-top: 0px;
  position: relative;
}
.primary-input--decoration::before {
  background-color: #8B9399;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
}
.primary-input--decoration::after {
  background-color: #8B9399;
  content: "";
  display: block;
  height: 2px;
  left: 35%;
  opacity: 0;
  position: absolute;
  width: 30%;
  animation: underline-shorten 0.3s;
  transition: linear;
  animation-fill-mode: forwards;
}
.primary-input--caret {
  right: 0;
  top: 33px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  transition: transform .3s ease;
}
.primary-input--caret---opened {
  transform: rotate(225deg);
}
.primary-input--caret svg {
  width: 7px;
  height: 7px;
  fill: #0a3443;
}
.primary-input--hint {
  color: #8B9399;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
  width: 100%;
  -ms-flex-order: 8;
      order: 8;
}
.primary-input--error {
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -ms-flex-order: 9;
      order: 9;
  width: 100%;
}
.primary-input--error---hide {
  display: none;
}
.primary-input--error-text {
  color: #FF1944;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.primary-input--error-icon {
  min-width: 10px;
  background: url(../images/icons/error-triangle.svg) no-repeat center center;
  background-size: contain;
}
.primary-input---with-error .primary-input--label,
.primary-input---with-error .primary-input--error-text {
  color: #FF1944 !important;
}
.primary-input---with-error .primary-input--decoration::before,
.primary-input---with-error .primary-input--decoration::after {
  background-color: #FF1944 !important;
}
.primary-input---with-error .primary-input--icon svg {
  fill: #FF1944 !important;
}
.primary-input---with-error.primary-input---select .primary-input--field {
  /* Code for Firefox */
  color: #FF1944;
}
.primary-input---with-icon {
  padding-left: 35px;
}
.primary-input---select .primary-input--label {
  transform: translateY(3px);
  font-size: 12px;
}
.primary-input---select .primary-input--field {
  cursor: pointer;
}
.primary-input---select .primary-input--field[data-toggle="focus"] ~ .primary-input--caret {
  transform: rotate(225deg);
}
.primary-input---split-input .primary-input--label {
  transform: translateY(3px);
  font-size: 12px;
  white-space: nowrap;
}
.primary-input---split-input .primary-input--fake-label-prefix {
  max-width: 0;
  padding-right: 0;
}
.primary-input---one-digit .primary-input--field {
  font-size: 36px;
}
.primary-input---hint-on-focus .primary-input--hint {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.primary-input---hint-on-focus .primary-input--field:focus ~ .primary-input--hint {
  max-height: 100px;
  transition: max-height 0.8s ease;
}
/* Animations */
@keyframes underline-widen {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
    width: 30%;
    left: 35%;
  }
  100% {
    opacity: 1;
    width: 100%;
    left: 0;
  }
}
@keyframes underline-shorten {
  0% {
    opacity: 1;
    width: 100%;
    left: 0;
  }
  99% {
    opacity: 1;
    width: 0;
    left: 50%;
  }
  100% {
    opacity: 0;
  }
}
.upload-file-link--label {
  background-color: transparent;
  border: none;
  color: #f45d51;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  font-weight: 400;
  text-decoration: underline;
}
.upload-file-link--label:focus {
  outline: none;
}
.upload-file-link--label:hover {
  color: #b5382e;
}
.upload-file-link--field {
  display: none;
}
.primary-button {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 100px;
  border: none;
  overflow: hidden;
  padding: 9px 14px 11px;
  background-color: #f45d51;
  transition: background-color 0.3s ease;
  text-decoration: none;
  line-height: 20px;
  /* Modifiers */
}
@media screen and (max-width: 767px) {
  .primary-button {
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
  }
}
.primary-button:hover {
  background-color: #F27268;
}
.primary-button:hover .primary-button--secondary-value {
  animation: expand-and-fade-primary-button-value 0.3s;
  animation-fill-mode: forwards;
}
.primary-button:focus {
  outline: none;
}
.primary-button--prefix {
  padding-top: 1px;
  text-align: left;
}
.primary-button--prefix svg {
  fill: #b5382e;
  height: 18px;
  width: 18px;
}
.primary-button--value {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25em;
  padding: 0 17px;
}
.primary-button--value a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
}
.primary-button--value---mobile-number {
  white-space: nowrap;
}
.primary-button--suffix {
  padding-top: 2px;
  text-align: right;
}
.primary-button--suffix svg {
  fill: #FFF;
  height: 12px;
  width: 12px;
}
.primary-button--primary-value {
  color: #FFF;
  margin: 0 -4px;
}
.primary-button--primary-value svg {
  fill: #FFF;
  height: 20px;
  width: 20px;
  padding: 4px 0 2px;
}
.primary-button--secondary-value {
  color: #FFF;
  margin-left: -28px;
  max-width: 0;
  opacity: 0;
  padding: 0 14px;
  height: 15px;
}
@media screen and (max-width: 767px) {
  .primary-button---mobile-only-prefix {
    width: 30px;
    height: 30px;
    padding: 5px 6px 6px;
  }
  .primary-button---mobile-only-prefix .primary-button--value {
    display: none;
  }
  .primary-button---mobile-only-prefix .primary-button--suffix {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .primary-button---mobile-only-suffix {
    width: 30px;
    height: 30px;
    padding: 4px 9px 6px;
  }
  .primary-button---mobile-only-suffix .primary-button--value {
    display: none;
  }
  .primary-button---mobile-only-suffix .primary-button--prefix {
    display: none;
  }
}
.primary-button---round,
.primary-button---roundish {
  width: 40px;
  height: 40px;
  padding: 0;
}
.primary-button---round .primary-button--value,
.primary-button---roundish .primary-button--value {
  padding: 0;
  text-align: center;
  width: 100%;
}
.primary-button---roundish {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
.primary-button---roundish svg {
  width: 12px;
  height: 12px;
}
.primary-button---expand {
  width: 100%;
}
.primary-button---expand .primary-button--value {
  width: 100%;
}
.primary-button---download-button {
  background-color: #FBF7F8;
}
.primary-button---download-button:hover {
  background-color: #BDBEC0;
}
.primary-button---download-button .primary-button--prefix svg {
  fill: #f45d51;
}
.primary-button---download-button .primary-button--value {
  color: #0a3443;
}
@keyframes expand-and-fade-primary-button-value {
  0% {
    max-width: 0;
    opacity: 0;
    margin-left: -28px;
  }
  50% {
    max-width: 320px;
    opacity: 0;
    margin-left: 0;
  }
  100% {
    max-width: 320px;
    opacity: 1;
    margin-left: 0;
  }
}
.alternative-button {
  background-color: #ffffff;
  border-radius: 100px;
  border: 2px solid #022f40;
  color: #022f40;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width: 132px;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
}
.alternative-button:hover {
  background-color: #FBF7F8;
}
.animated-button {
  background-color: rgba(70, 191, 165, 0.15);
  border-radius: 4px;
  border: none;
  color: #46BFA5;
  cursor: pointer;
  height: 32px;
  overflow: hidden;
}
.animated-button--secondary-value,
.animated-button--primary-value {
  transition: transform .3s ease;
  transform: translateY(-100%);
}
.animated-button--secondary-value {
  height: 32px;
  padding: 9px;
}
.animated-button--primary-value {
  height: 32px;
  padding: 8px 12px;
}
.animated-button:focus {
  outline: none;
}
.animated-button:hover .animated-button--secondary-value,
.animated-button---clicked .animated-button--secondary-value,
.animated-button:hover .animated-button--primary-value,
.animated-button---clicked .animated-button--primary-value {
  transform: translateY(0);
}
.animated-button---clicked {
  cursor: inherit;
}
.animated-button svg {
  fill: #46BFA5;
  height: 14px;
  width: 14px;
}
.primary-link {
  background-color: transparent;
  border: none;
  color: #8B9399;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}
.primary-link:focus {
  outline: none;
}
.primary-link:hover {
  color: #BDBEC0;
}
.primary-link---sharper {
  color: #0a3443;
}
.primary-link---sharper:hover {
  color: #8B9399;
}
.alternative-link {
  background-color: transparent;
  border: none;
  color: #f45d51;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  font-weight: 600;
  text-decoration: underline;
}
.alternative-link:focus {
  outline: none;
}
.alternative-link:hover {
  color: #b5382e;
}
.content-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.content-wrapper---responsive {
  padding: 0 34px;
  max-width: 1242px;
}
@media screen and (max-width: 767px) {
  .content-wrapper---responsive {
    padding: 0 15px;
  }
}
.grid {
  margin: -20px -10px;
}
@media screen and (max-width: 1023px) {
  .grid {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .grid {
    padding: 0 15px;
    margin: -5px -5px;
  }
}
.grid--wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}
.grid--full {
  padding: 20px 10px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .grid--full {
    padding: 5px;
  }
}
.grid--half {
  padding: 20px 10px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .grid--half {
    padding: 5px;
  }
}
.grid--one-third {
  padding: 20px 10px;
  width: 33.3333%;
}
@media screen and (max-width: 1023px) {
  .grid--one-third {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .grid--one-third {
    padding: 5px;
  }
}
.grid--two-thirds {
  padding: 20px 10px;
  width: 66.6666%;
}
@media screen and (max-width: 1023px) {
  .grid--two-thirds {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .grid--two-thirds {
    padding: 5px;
  }
}
.cross {
  cursor: pointer;
  height: 13px;
  position: relative;
  width: 13px;
  display: inline-block;
}
.cross:hover {
  background-color: #FBF7F8;
}
.cross::before,
.cross::after {
  background-color: #0a3443;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 18px;
}
.cross::before {
  left: 1px;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.cross::after {
  right: 0;
  transform-origin: 100% 0;
  transform: rotate(-45deg);
}
.error-paragraph {
  color: #FF1944;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.flash {
  max-height: 100vh;
  max-width: 386px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 25px 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.flash:empty {
  display: none;
}
.flash--item {
  border-radius: 4px;
  border: 1px solid;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  transform: translateX(120%);
  opacity: 0;
  animation: flash-item-fade-in 0.4s;
  animation-fill-mode: forwards;
  /*Modifiers*/
}
.flash--item---success {
  border-color: #46BFA5;
}
.flash--item---success .flash--icon {
  background-color: #46BFA5;
  fill: #26927B;
}
.flash--item---info {
  border-color: #448ba5;
}
.flash--item---info .flash--icon {
  background-color: #448ba5;
  fill: #0a4860;
}
.flash--item---warning {
  border-color: #FF1944;
}
.flash--item---warning .flash--icon {
  background-color: #FF1944;
  fill: #bc0f30;
}
.flash--item---error {
  border-color: #FF1944;
}
.flash--item---error .flash--icon {
  background-color: #FF1944;
  fill: #bc0f30;
}
.flash--item---collapsing {
  animation: flash-item-fade-out 0.4s;
  animation-fill-mode: forwards;
}
.flash--icon {
  min-width: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.flash--icon svg {
  width: 30px;
  height: 30px;
}
.flash--message {
  background-color: #FFF;
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding: 20px;
  width: 100%;
  word-break: break-all;
}
.flash--close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
.flash--cross {
  height: 10px;
  position: relative;
  width: 10px;
  display: inline-block;
}
.flash--cross:hover {
  background-color: #FBF7F8;
}
.flash--cross::before,
.flash--cross::after {
  background-color: #0a3443;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 14px;
}
.flash--cross::before {
  left: 1px;
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.flash--cross::after {
  right: 0;
  transform-origin: 100% 0;
  transform: rotate(-45deg);
}
@keyframes flash-item-fade-in {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes flash-item-fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    transform: translateX(120%);
  }
  100% {
    height: 0;
    margin: 0;
  }
}
html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow-x: hidden;
}
main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.primary-panel {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px #BDBEC0;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.primary-panel[data-file-drag-box="1"]::before {
  bottom: 5px;
  content: "";
  display: block;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  border: 2px dashed #8B9399;
  border-radius: 4px;
}
.primary-panel---with-sticking-elements {
  overflow: visible;
}
.primary-panel .property-content--add-button {
  display: none;
}
.primary-panel:last-child {
  margin-bottom: 0;
  /* todo: find better way to do this and still stick to maintainable CSS spec */
}
@media screen and (max-width: 767px) {
  .primary-panel:last-child {
    margin-bottom: 15px;
  }
}
.primary-panel:last-child .property-content--add-button {
  display: block;
}
.primary-panel--heading {
  border-bottom: 2px solid #FBF7F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 24px 20px;
  position: relative;
}
.primary-panel--heading---alternative {
  background-color: #0a3443;
  color: #FFF;
  border-bottom: none;
}
.primary-panel--heading---with-block {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
}
.primary-panel--heading---with-block > :first-child {
  line-height: 50px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding-right: 24px;
}
@media screen and (max-width: 767px) {
  .primary-panel--heading---with-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.primary-panel--heading-block {
  -ms-flex-align: center;
      align-items: center;
  background-color: #FBF7F8;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.primary-panel--heading-block-label {
  color: #0a3443;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.primary-panel--heading-block-value {
  color: #f45d51;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 24px;
}
.primary-panel--heading-button,
.primary-panel--heading-close-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .primary-panel--heading-button,
  .primary-panel--heading-close-button {
    /*left: inherit;
      margin: 20px 0 0;
      padding: 0 15px;
      position: relative;
      top: inherit;
      transform: inherit;*/
  }
}
.primary-panel--heading-button---hidden,
.primary-panel--heading-close-button---hidden {
  display: none;
}
.primary-panel--heading-close-button::before {
  background-color: #FBF7F8;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}
.primary-panel--separator {
  height: 2px;
  width: 100%;
  background-color: #FBF7F8;
  margin: 20px 0;
}
.primary-panel--content {
  padding: 24px 20px;
  font-size: 0;
}
.primary-panel--content---flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 767px) {
  .primary-panel--content---flex {
    padding: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .primary-panel--content {
    padding: 15px;
  }
}
.primary-panel--content-heading {
  margin-bottom: 20px;
}
.primary-panel--content-column {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .primary-panel--content-column {
    width: 100%;
    padding-right: 0;
  }
}
.primary-panel--content-column:nth-child(2n) {
  padding-left: 10px;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .primary-panel--content-column:nth-child(2n) {
    padding-left: 0;
    margin-top: 20px;
  }
}
.primary-panel--content-row {
  width: 100%;
  vertical-align: middle;
}
.primary-panel--colored-column-content {
  border-radius: 4px;
  background-color: #FBF7F8;
  padding: 24px 30px;
}
.primary-panel--buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}
.primary-panel--button {
  padding: 5px;
}
.primary-panel---hidden {
  display: none;
}
.alternative-panel {
  background-color: #0a3443;
  border-radius: 4px;
  padding: 31px 20px;
  width: 100%;
}
.alternative-panel---loan-for-RE-sticky {
  position: fixed;
  top: 20px;
}
.alternative-panel--subheading {
  color: #BDBEC0;
  font-family: "Source Sans Pro", 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
}
.alternative-panel--amount {
  margin-top: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.alternative-panel--amount-value {
  -ms-flex-positive: 1;
      flex-grow: 1;
  color: #FFF;
  font-family: "Source Sans Pro", 'sans-serif';
  font-size: 48px;
  font-weight: 400;
}
.alternative-panel--amount-value---run-animation {
  animation: amount-value-ajax-animation 0.3s;
  animation-fill-mode: forwards;
}
.alternative-panel--amount-suffix {
  padding-right: 6px;
}
.alternative-panel--amount-suffix svg {
  width: 36px;
  height: 38px;
  fill: #f45d51;
}
.alternative-panel---small {
  padding: 19px;
}
.alternative-panel---small .alternative-panel--amount-value {
  font-size: 32px;
}
.alternative-panel---small .alternative-panel--amount-suffix svg {
  width: 18px;
  height: 18px;
}
.alternative-panel---small .alternative-panel--amount {
  margin-top: 8px;
}
.alternative-panel---small .alternative-panel--subheading {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}
.alternative-panel---secondary {
  background-color: #f45d51;
}
.alternative-panel---secondary .alternative-panel--subheading {
  color: #ffe5e3;
}
.alternative-panel---secondary .alternative-panel--amount-suffix svg {
  fill: #b5382e;
}
@keyframes amount-value-ajax-animation {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.inputs-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px -10px;
}
.inputs-grid--full {
  padding: 12px 10px;
  width: 100%;
}
.inputs-grid--full---multiple-checkbox {
  padding-top: 0;
}
.inputs-grid--half {
  padding: 12px 10px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .inputs-grid--half {
    width: 100%;
  }
}
.inputs-grid--third {
  padding: 12px 10px;
  width: 33.3333%;
}
@media screen and (max-width: 1024px) {
  .inputs-grid--third {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .inputs-grid--third {
    width: 100%;
  }
}
.inputs-grid--fourth {
  padding: 12px 10px;
  width: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
}
@media screen and (max-width: 1024px) {
  .inputs-grid--fourth {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .inputs-grid--fourth {
    width: 100%;
  }
}
.inputs-grid---data-grid .inputs-grid--third,
.inputs-grid---data-grid .inputs-grid--fourth {
  padding: 10px;
}
.inputs-grid---centered {
  -ms-flex-align: center;
      align-items: center;
}
[data-property]:first-child:last-child .property-content--heading {
  display: none;
}
.property-content--remove-button {
  position: absolute;
  right: 3px;
  top: 3px;
  animation: fade-show 0.3s ease;
  animation-fill-mode: forwards;
}
.property-content--remove-button---hide {
  z-index: -1;
  opacity: 0;
  animation: fade-hide 0.3s ease;
  animation-fill-mode: forwards;
}
.property-content--remove-button---in-main-heading {
  top: -5px;
}
.property-content--heading {
  position: relative;
  margin-bottom: 24px;
}
.property-content--update-button {
  margin: 20px 0 0;
}
.property-content--add-button {
  position: absolute;
  right: 20px;
  transition: all .3s ease;
  z-index: 2;
}
.property-content--add-button---hide {
  opacity: 0;
}
.property-content--animated-inputs,
.property-content--update-button {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.property-content--animated-inputs---active,
.property-content--update-button---active {
  max-height: 40px;
}
.property-content--animated-inputs {
  margin-top: 12px;
}
.property-content--animated-inputs---standalone {
  margin-top: 0;
}
.property-content--animated-inputs---active {
  max-height: 400px;
}
.property-content--title {
  margin: 21px 0;
}
.property-content--title---first-element {
  margin: 0 0 21px;
}
.property-content--alternative-panel {
  margin-top: 15px;
}
@keyframes fade-hide {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes fade-show {
  0% {
    z-index: -1;
    opacity: 0;
  }
  1% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-brand-row {
  background-color: #0a3443;
  position: relative;
  /* Modifiers */
}
.header-brand-row--content {
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}
@media screen and (max-width: 1179px) {
  .header-brand-row--content {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .header-brand-row--content {
    padding: 0 15px;
    height: 52px;
  }
}
.header-brand-row--logo {
  padding: 32px 0;
  -ms-flex: 1 100 225px;
      flex: 1 100 225px;
}
@media screen and (max-width: 767px) {
  .header-brand-row--logo {
    padding: 18px 0;
    -ms-flex: 1 100 161px;
        flex: 1 100 161px;
  }
  .header-brand-row--logo svg {
    width: 161px;
  }
}
.header-brand-row--logo-subinfo {
  font-size: 12px;
  color: #FFF;
  margin-top: 10px;
}
.header-brand-row--buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 100 1 auto;
      flex: 100 1 auto;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .header-brand-row--buttons {
    padding: 11px 0;
  }
}
.header-brand-row--button-group {
  border-right: 1px solid #0a4860;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-brand-row--button-group:last-child {
  border-right: none;
}
.header-brand-row--button-group:last-child .header-brand-row--button {
  padding-right: 0;
}
.header-brand-row--button-label {
  display: inline-block;
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 1023px) {
  .header-brand-row--button-label {
    display: none;
  }
}
.header-brand-row--button {
  padding: 0 30px 0 20px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .header-brand-row--button {
    display: block;
    padding: 0 14px 0 14px;
  }
}
@media screen and (max-width: 767px) {
  .header-brand-row---manager .header-brand-row--logo {
    padding: 16px 0;
  }
  .header-brand-row---manager .header-brand-row--logo-subinfo {
    margin-top: 2px;
    font-size: 10px;
  }
}
.header-brand-row---cms .header-brand-row--content {
  max-width: 100%;
  padding: 0 30px;
}
.header-info-row {
  background-color: #FFF;
  border-bottom: 1px solid #FBF7F8;
  min-height: 54px;
  /* Modifiers */
}
@media screen and (max-width: 767px) {
  .header-info-row {
    min-height: 26px;
  }
}
.header-info-row--content {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 54px;
  min-height: 54px;
  overflow: hidden;
}
@media screen and (max-width: 1179px) {
  .header-info-row--content {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .header-info-row--content {
    padding: 7px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-info-row--desktop-text {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-info-row--desktop-text {
    display: block;
  }
}
.header-info-row--tablet-text {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header-info-row--tablet-text {
    display: block;
  }
}
.header-info-row--desktop-text,
.header-info-row--tablet-text {
  color: #0a3443;
  -ms-flex: 10 10 auto;
      flex: 10 10 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .header-info-row--desktop-text,
  .header-info-row--tablet-text {
    display: none;
  }
}
.header-info-row--title {
  color: #0a3443;
  -ms-flex: 10 10 auto;
      flex: 10 10 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .header-info-row--title {
    margin-bottom: 20px;
  }
}
.header-info-row--order-id,
.header-info-row--company,
.header-info-row--company-head {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin: 0 15px;
  font-size: 12px;
}
@media screen and (max-width: 1023px) {
  .header-info-row--order-id,
  .header-info-row--company,
  .header-info-row--company-head {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header-info-row--order-id,
  .header-info-row--company,
  .header-info-row--company-head {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.header-info-row--order-id-label,
.header-info-row--order-id-value,
.header-info-row--company-label,
.header-info-row--company-value,
.header-info-row--company-head-label,
.header-info-row--company-head-value {
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
}
.header-info-row--order-id-label span,
.header-info-row--order-id-value span,
.header-info-row--company-label span,
.header-info-row--company-value span,
.header-info-row--company-head-label span,
.header-info-row--company-head-value span {
  font-weight: 600;
}
.header-info-row--order-id-label,
.header-info-row--company-label,
.header-info-row--company-head-label {
  font-weight: 600;
}
.header-info-row--flask {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #f3f2f2;
  border-radius: 100px;
  -ms-flex: 9 1 auto;
      flex: 9 1 auto;
  height: 12px;
  padding: 2px;
  max-width: 380px;
  min-width: 180px;
}
.header-info-row--flask-liquid {
  height: 8px;
  border-radius: 100px;
  background-color: #f45d51;
}
.header-info-row---cms .header-info-row--content {
  max-width: 100%;
  padding: 0 30px;
}
.header-primary-data-info-row {
  background-color: #FFF;
  border-bottom: 1px solid #FBF7F8;
}
.header-primary-data-info-row--content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0 auto;
  max-width: 1180px;
  padding: 18px 0;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 1023px) {
  .header-primary-data-info-row--content {
    padding: 18px 34px;
  }
}
@media screen and (max-width: 767px) {
  .header-primary-data-info-row--content {
    padding: 18px 15px;
  }
}
.header-primary-data-info-row--item {
  position: relative;
  margin: 0 10px;
}
@media screen and (max-width: 767px) {
  .header-primary-data-info-row--item {
    margin: 0 3px;
  }
}
.header-primary-data-info-row--item:last-child {
  margin-right: 0;
}
.footer-instructions {
  background-color: #8B9399;
  margin: 60px 0 -60px;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .footer-instructions {
    bottom: 93px;
  }
}
.footer-instructions--wrapper {
  margin: 0 -10px;
}
.footer-instructions--content {
  width: 100%;
  max-width: 1230px;
  padding: 24px 15px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
}
.footer-instructions--instructions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-instructions--other-docs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.footer-instructions--heading {
  width: 100%;
  margin-bottom: 24px;
  font-size: 20px;
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 10px;
}
.footer-instructions--item {
  min-width: 33.333333%;
  padding: 0 10px;
}
.footer-instructions--link {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #FFF;
}
.footer-instructions--link:hover {
  color: #BDBEC0;
}
.footer {
  background-color: #FFF;
  margin-top: 60px;
  overflow: hidden;
  padding: 20px 0;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  width: 100%;
  /* modifiers */
}
.footer--content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 1179px) {
  .footer--content {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .footer--content {
    padding: 0 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.footer--copyright {
  -ms-flex: 1 3 auto;
      flex: 1 3 auto;
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 24px;
}
@media screen and (max-width: 1023px) {
  .footer--copyright {
    -ms-flex: 1 3 auto;
        flex: 1 3 auto;
    font-size: 14px;
    min-width: 115px;
  }
}
@media screen and (max-width: 767px) {
  .footer--copyright {
    font-size: 12px;
    -ms-flex-order: 2;
        order: 2;
    text-align: center;
    width: 100%;
  }
}
.footer--navigation {
  -ms-flex: 200 0 auto;
      flex: 200 0 auto;
  margin: 0 -10px;
}
@media screen and (max-width: 1023px) {
  .footer--navigation {
    -ms-flex: 2 1 auto;
        flex: 2 1 auto;
    font-size: 14px;
    min-width: 115px;
  }
}
@media screen and (max-width: 767px) {
  .footer--navigation {
    -ms-flex-order: 1;
        order: 1;
    text-align: center;
    width: 100%;
  }
}
.footer--navigation-item {
  display: inline-block;
  padding: 0 10px;
}
.footer--help {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 10 325px;
      flex: 0 10 325px;
  -ms-flex-align: center;
      align-items: center;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer--help {
    display: none;
  }
}
.footer--help-label {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 140px;
  padding-left: 14px;
  margin-right: 20px;
}
@media screen and (max-width: 1023px) {
  .footer--help-label {
    font-size: 14px;
    padding-left: 5px;
    min-width: 110px;
  }
}
.footer---manager {
  background-color: #0a3443;
}
.footer---manager .footer--copyright {
  color: #FFF;
}
.footer---manager .footer--logo {
  -ms-flex: 1 100 225px;
      flex: 1 100 225px;
}
@media screen and (max-width: 767px) {
  .footer---manager .footer--logo {
    width: 100%;
    text-align: center;
  }
  .footer---manager .footer--logo svg {
    width: 161px;
  }
}
.footer---manager .footer--logo-subinfo {
  font-size: 12px;
  color: #FFF;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .footer---manager .footer--logo-subinfo {
    margin-top: 4px;
    font-size: 10px;
  }
}
.footer---cms .footer--content {
  max-width: 100%;
  padding: 0 30px;
}
.page-title {
  margin: 0 auto;
  max-width: 1242px;
  padding: 30px 0;
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.page-title > *:first-child {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.page-title---responsive {
  padding: 30px 34px;
}
@media screen and (max-width: 1023px) {
  .page-title {
    padding: 30px 34px;
  }
}
@media screen and (max-width: 767px) {
  .page-title {
    padding: 30px 15px;
  }
}
.page-title--button {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .page-title--button {
    position: relative;
    transform: translateY(0);
    top: inherit;
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    display: none;
  }
}
.page-title--button---hidden {
  display: none;
  z-index: -1;
}
.page-title--buttons {
  margin: -5px 0 -5px 15px;
}
.page-title--buttons-item {
  padding: 5px 0;
}
.page-title---before-buttons {
  padding-bottom: 0;
}
.g-recaptcha {
  margin-top: 8px;
}
.g-recaptcha ~ .primary-input--error {
  width: 302px;
}
@media screen and (max-width: 352px) {
  .g-recaptcha {
    transform: scale(0.965) translateX(-6px);
  }
  .g-recaptcha ~ .primary-input--error {
    width: 290px;
  }
}
.popup {
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(10, 52, 67, 0.8);
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  overflow: auto;
  animation: popup-fadeIn 0.3s;
  animation-fill-mode: forwards;
}
.popup---fix-overflow {
  -ms-flex-align: start;
      align-items: flex-start;
}
.popup--item {
  animation: popup-item-fadeIn 0.3s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-30px);
  z-index: -1;
}
.popup--item > svg {
  fill: #FFF;
  width: 50px;
  height: 50px;
}
@keyframes popup-fadeIn {
  0% {
    z-index: -1;
    opacity: 0;
  }
  1% {
    z-index: 3;
    opacity: 0;
  }
  100% {
    z-index: 3;
    opacity: 1;
  }
}
@keyframes popup-item-fadeIn {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateY(-30px);
  }
  1% {
    z-index: 3;
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    z-index: 3;
    opacity: 1;
    transform: translateY(0);
  }
}
.policy-popup {
  box-shadow: 0 1px 2px #dfdfdf;
  border-radius: 4px;
  background-color: #FFF;
  max-height: calc(100vh - 30px);
  max-width: 780px;
  width: 100%;
  overflow: hidden;
}
.policy-popup--heading {
  padding: 17px 24px;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 767px) {
  .policy-popup--heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .policy-popup--heading-text {
    width: calc(100% - 36px);
    -ms-flex-order: 1;
        order: 1;
  }
}
.policy-popup--heading-buttons {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-align: right;
  border-right: 1px solid #f5f5f5;
  padding-right: 14px;
}
@media screen and (max-width: 767px) {
  .policy-popup--heading-buttons {
    margin-top: 20px;
    -ms-flex-order: 3;
        order: 3;
    text-align: center;
    width: 100%;
  }
}
.policy-popup--heading-button {
  display: inline-block;
  padding: 0 10px;
}
.policy-popup--close {
  width: 36px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .policy-popup--close {
    -ms-flex-order: 2;
        order: 2;
  }
}
.policy-popup--subheading {
  margin: 24px 0;
}
.policy-popup--content {
  overflow: auto;
  padding: 0 24px 27px;
}
.info-block {
  background-color: #FBF7F8;
  border-radius: 4px;
  padding: 11px 15px;
  position: relative;
  min-width: 200px;
  /* Modiefiers */
}
@media screen and (max-width: 767px) {
  .info-block {
    min-width: 118px;
  }
}
.info-block--label,
.info-block--value {
  padding-right: 50px;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 767px) {
  .info-block--label,
  .info-block--value {
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .info-block--label > span,
  .info-block--value > span {
    display: none;
  }
}
.info-block--label > span:last-child,
.info-block--value > span:last-child {
  display: none;
}
@media screen and (max-width: 767px) {
  .info-block--label > span:last-child,
  .info-block--value > span:last-child {
    display: block;
  }
}
.info-block--label {
  color: #8B9399;
  font-size: 12px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .info-block--label {
    font-size: 10px;
  }
}
.info-block--value {
  color: #0a3443;
  font-size: 16px;
  font-weight: 400;
  margin-top: 6px;
}
.info-block--icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .info-block--icon {
    right: 10px;
  }
}
.info-block--icon svg {
  width: 18px;
  height: 18px;
  fill: #f45d51;
}
.info-block---prefixed-icon {
  padding: 16px 15px;
}
.info-block---prefixed-icon .info-block--label,
.info-block---prefixed-icon .info-block--value {
  padding-left: 60px;
}
.info-block---prefixed-icon .info-block--label {
  font-size: 14px;
}
.info-block---prefixed-icon .info-block--value {
  font-size: 20px;
}
.info-block---prefixed-icon .info-block--icon {
  -ms-flex-align: center;
      align-items: center;
  background-color: #f45d51;
  border-radius: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 30px;
  -ms-flex-pack: center;
      justify-content: center;
  left: 15px;
  right: inherit;
  text-align: center;
  width: 30px;
}
.info-block---prefixed-icon .info-block--icon svg {
  fill: #FFF;
}
.dropdown {
  opacity: 0;
  transform: translateY(90%);
  z-index: -1;
  position: absolute;
  bottom: -20px;
  right: 0;
  box-shadow: 0 1px 4px #dfdfdf;
  border-radius: 2px;
  background-color: #ffffff;
  max-height: 250px;
  overflow: auto;
  animation: dropdown-fadeOut 0.3s;
  animation-fill-mode: forwards;
}
.dropdown---active {
  animation: dropdown-fadeIn 0.3s;
  animation-fill-mode: forwards;
}
.dropdown---full {
  width: 100%;
}
.dropdown--item {
  border-bottom: 1px solid #FBF7F8;
  color: #0a3443;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 20px 20px;
  text-decoration: none;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .dropdown--item {
    max-width: 290px;
    white-space: inherit;
  }
}
.dropdown--item:last-child {
  border-bottom: none;
}
.dropdown--item:hover {
  background-color: #FBF7F8;
}
.dropdown--preloader {
  text-align: center;
  padding: 15px;
}
.dropdown--preloader svg {
  fill: #0a3443;
  width: 25px;
  height: 25px;
}
.dropdown--message {
  padding: 20px;
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@keyframes dropdown-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 2;
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
    z-index: 2;
  }
}
@keyframes dropdown-fadeOut {
  0% {
    opacity: 1;
    transform: translateY(100%);
    z-index: 2;
  }
  99% {
    opacity: 0;
    transform: translateY(90%);
    z-index: 2;
  }
  100% {
    opacity: 0;
    transform: translateY(90%);
    z-index: -1;
  }
}
.company-info--search-inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .company-info--search-inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.company-info--search-input {
  width: 100%;
  margin-right: 20px;
}
.company-info--search-suggestions {
  margin-left: 35px;
  position: relative;
  width: calc(100% - 35px);
  z-index: 3;
}
.company-info--search-button {
  margin-top: 10px;
  min-width: 181px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .company-info--search-button {
    margin-top: 24px;
    width: 100%;
  }
}
/* todo: make JS handle it */
@media screen and (max-width: 767px) {
  [data-expand-target="change-company"] {
    animation: expandable-expand 0.3s ease !important;
    animation-fill-mode: forwards;
  }
}
.expandable {
  /* Pre-collapsed */
  animation: expandable-pre-collapsed 0.1ms ease;
  animation-fill-mode: forwards;
  /* --- */
}
.expandable---collapsed {
  animation: expandable-collapse 0.3s ease;
  animation-fill-mode: forwards;
  overflow: hidden;
}
.expandable---expanded {
  animation: expandable-expand 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes expandable-expand {
  0% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
  99% {
    overflow: hidden;
    margin-bottom: 10px;
  }
  100% {
    overflow: visible;
    margin-bottom: 10px;
  }
}
@keyframes expandable-collapse {
  0% {
    overflow: visible;
    margin-bottom: 10px;
  }
  1% {
    overflow: hidden;
    margin-bottom: 10px;
  }
  100% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
}
@keyframes expandable-pre-collapsed {
  0% {
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
  }
  100% {
    overflow: hidden;
    transform: translateY(-50000px);
    max-height: 0;
    margin-bottom: 0;
  }
}
.notice {
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .notice {
    padding: 0 34px;
  }
}
.notice--icon svg {
  width: 18px;
  height: 18px;
  fill: #0a3443;
}
.notice--icon---alternative svg {
  fill: #f45d51;
}
.notice--content {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 15px;
}
.notice---standalone {
  margin: 24px 0;
}
.split-input {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.split-input > * {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.split-input--item {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.split-input--item input {
  text-align: center;
}
.split-input--seperator {
  color: #8B9399;
  -ms-flex: 0 0 20px;
      flex: 0 0 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  text-align: center;
  margin-top: 24px;
}
.split-input---2-times .split-input--item {
  width: 50%;
}
.split-input---4-times .split-input--item {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  width: 10%;
}
.confirm-data {
  width: 100%;
  padding: 11px 15px;
  background-color: #FBF7F8;
}
.confirm-data--label {
  color: #8b9399;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.confirm-data--value {
  margin-top: 12px;
  color: #022f40;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42em;
}
.tabbed-panel {
  width: 100%;
  box-shadow: 0 1px 2px #dfdfdf;
  border-radius: 4px;
}
.tabbed-panel--header {
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  height: 70px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .tabbed-panel--header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    height: 58px;
    position: relative;
    z-index: 1;
  }
  .tabbed-panel--header[data-tabbed-header="closed"] {
    overflow: hidden;
  }
  .tabbed-panel--header[data-tabbed-header="opened"] {
    overflow: visible;
  }
}
.tabbed-panel--header > [data-tabbed-header-button] {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .tabbed-panel--header > [data-tabbed-header-button]:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .tabbed-panel--header > [data-tabbed-header-button]:nth-last-child(2) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
}
.tabbed-panel--header-dropdown-caret {
  position: absolute;
  top: 22px;
  right: 15px;
  transform: rotate(45deg);
  display: none;
}
@media screen and (max-width: 767px) {
  .tabbed-panel--header-dropdown-caret {
    display: inherit;
  }
}
.tabbed-panel--header-dropdown-caret svg {
  width: 7px;
  height: 7px;
  fill: #FFF;
}
.tabbed-panel--button {
  background-color: #0a3443;
  border: none;
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 26px 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .tabbed-panel--button {
    padding: 20px 15px 20px;
    color: #FFF;
    text-align: left;
  }
}
.tabbed-panel--button:hover::after,
.tabbed-panel--button---clicked::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #F27268;
}
.tabbed-panel--content {
  padding: 26px 20px;
  background-color: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tabbed-panel--subheading {
  margin-bottom: 20px;
}
.locker {
  padding: 5px 0;
}
.locker--heading {
  background-color: #FBF7F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.locker--caret {
  padding: 22px;
}
@media screen and (max-width: 767px) {
  .locker--caret {
    display: none;
  }
}
.locker--caret svg {
  fill: #0a3443;
  height: 12px;
  transform-origin: 50% 50%;
  transition: transform .3s ease;
  width: 12px;
}
.locker--caret---flipped svg {
  transform: rotate(180deg);
}
.locker--heading-text {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
@media screen and (max-width: 767px) {
  .locker--heading-text {
    padding-left: 10px;
  }
}
.locker--not-read-and-closed,
.locker--not-read,
.locker--read {
  padding: 23px 20px;
  display: none;
}
.locker--not-read-and-closed svg,
.locker--not-read svg,
.locker--read svg {
  width: 11px;
  height: 11px;
  fill: #FF1944;
}
.locker--read {
  display: block;
}
.locker--viewed-info {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .locker--viewed-info > * span:last-child {
    display: none;
  }
}
.locker--viewed-info---viewed {
  color: #46BFA5;
}
.locker--viewed-info---viewed svg {
  width: 11px;
  height: 11px;
  fill: #46BFA5;
  margin-right: 10px;
  transform: translateY(1px);
}
@media screen and (max-width: 767px) {
  .locker--viewed-info---viewed svg {
    transform: translateY(-2px);
    width: 15px;
    height: 15px;
  }
}
.locker--content {
  border: 2px solid #FBF7F8;
  border-top: none;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .locker--content {
    padding: 5px;
  }
}
.document--heading {
  background-color: #FBF7F8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.document--recipient {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 15px;
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.document--sign {
  padding: 15px 15px;
}
.document--signed,
.document--not-signed {
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0a3443;
}
.document--signed svg,
.document--not-signed svg {
  transform: translateY(2px);
  width: 12px;
  height: 12px;
  fill: #FF1944;
}
.document--not-signed {
  display: block;
  color: #FF1944;
}
.document--content object {
  width: 100%;
  height: 670px;
}
.document--content embed {
  width: 100%;
}
.main-preloader {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.main-preloader--animation {
  display: inline-block;
}
.main-preloader--animation svg {
  width: 25px;
  height: 25px;
  fill: #0a3443;
}
.panel-preloader {
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}
.panel-preloader svg {
  width: 25px;
  height: 25px;
  fill: #0a3443;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}
.sign-type-panel {
  margin-top: 20px;
}
.isign--label,
.isign--result {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.isign--status {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}
.isign--status-label,
.isign--status-code {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.isign--status-label {
  padding-right: 24px;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.isign--status-code {
  padding: 6px 28px;
  border-radius: 24px;
  font-weight: 600;
  font-size: 28px;
  background-color: #FBF7F8;
  color: #f45d51;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.isign--status-buttons {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  text-align: right;
}
.isign--status-button {
  display: inline-block;
}
.isign--form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 767px) {
  .isign--form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.isign--input {
  -ms-flex: 2 2 auto;
      flex: 2 2 auto;
}
@media screen and (max-width: 767px) {
  .isign--input {
    width: 100%;
  }
}
.isign--button {
  margin-left: 20px;
  width: 160px;
}
@media screen and (max-width: 767px) {
  .isign--button {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
.bank-office-sign--form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 767px) {
  .bank-office-sign--form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.bank-office-sign--input {
  margin-right: 20px;
  max-width: 460px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .bank-office-sign--button {
    margin: 20px 0 0 0;
  }
}
.paysera-sign--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px;
}
.paysera-sign--item {
  width: 20%;
  padding: 4px;
}
.paysera-sign--item label {
  display: block;
  background-color: #FBF7F8;
  height: 86px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .paysera-sign--item label {
    height: 55px;
  }
}
.paysera-sign--item input {
  display: none;
}
.paysera-sign--item input:checked ~ label {
  outline-color: #46BFA5;
  outline-style: solid;
  outline-width: 1px;
}
@media screen and (max-width: 1023px) {
  .paysera-sign--item {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .paysera-sign--item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 480px) {
  .paysera-sign--item {
    width: 50%;
  }
}
.paysera-sign--logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 25px;
  left: 40px;
  right: 40px;
  bottom: 25px;
}
@media screen and (max-width: 480px) {
  .paysera-sign--logo {
    top: 10px;
    left: 18px;
    right: 18px;
    bottom: 10px;
  }
}
.paysera-sign--notice {
  margin: 14px 0;
}
.paysera-sign--button {
  margin: 20px 0;
}
.application-processing {
  background-color: #FFF;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  overflow: hidden;
  /* Modifiers*/
}
.application-processing--status {
  background-color: #46BFA5;
  height: 50px;
  position: relative;
  width: 50px;
  min-width: 50px;
}
.application-processing--completed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
}
.application-processing--completed::after {
  border-radius: 30px;
  border: 2px solid #26927B;
  content: "";
  display: block;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
  width: 30px;
}
.application-processing--completed svg {
  width: 14px;
  height: 14px;
  fill: #26927B;
}
.application-processing--processing {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
}
.application-processing--processing svg {
  fill: #26927B;
  height: 35px;
  width: 35px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translate3D(-50%, -50%, 0);
}
.application-processing--processing svg:last-child {
  z-index: 0;
  fill: #FFF;
}
.application-processing--step-number {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate3D(1px, -50%, 0);
}
.application-processing--static {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
}
.application-processing--label {
  color: #0a3443;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: 20px;
}
.application-processing--status---completed .application-processing--processing,
.application-processing--status---completed .application-processing--step-number {
  display: none;
}
.application-processing--status---processing,
.application-processing--status---static {
  background-color: #0a3443;
}
.application-processing--status---processing .application-processing--step-number,
.application-processing--status---static .application-processing--step-number {
  color: #FFF;
}
.application-processing--status---processing .application-processing--completed,
.application-processing--status---static .application-processing--completed,
.application-processing--status---processing .application-processing--idle,
.application-processing--status---static .application-processing--idle {
  display: none;
}
.application-processing--status---processing ~ .application-processing--label,
.application-processing--status---static ~ .application-processing--label {
  font-weight: 600;
}
.application-processing--status---static .application-processing--processing svg {
  display: none;
}
.application-processing--status---static .application-processing--processing::after {
  border-radius: 30px;
  border: 2px solid #FFF;
  content: "";
  display: block;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
  width: 30px;
}
.application-processing--status---idle {
  background-color: #8B9399;
}
.application-processing--status---idle .application-processing--step-number {
  color: #BDBEC0;
}
.application-processing--status---idle .application-processing--step-number::after {
  border-radius: 30px;
  border: 2px solid #BDBEC0;
  content: "";
  display: block;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3D(-50%, -50%, 0);
  width: 30px;
}
.application-processing--status---idle .application-processing--completed,
.application-processing--status---idle .application-processing--processing {
  display: none;
}
.verifications-message {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.bank-office--map {
  width: 100%;
  height: 400px;
}
.working-time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.working-time--item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0a3443;
  width: 50%;
}
.working-time--item span {
  margin-right: 12px;
  color: #8B9399;
}
.profile-popup--content {
  margin: 0 auto;
  width: 337px;
}
@media screen and (max-width: 767px) {
  .profile-popup--content {
    width: 265px;
  }
}
.profile-popup--text {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.profile-popup--submit-button {
  margin-top: 40px;
}
.profile-popup--links,
.profile-popup--inputs {
  margin-top: 55px;
}
.profile-popup--links {
  margin-bottom: 100px;
}
.profile-popup--login-links {
  margin: 15px 0;
}
.unordered-list--item {
  line-height: 15px;
  color: #8B9399;
}
.unordered-list--item::before {
  content: "•";
  padding-right: 3px;
}
.icon-circle {
  -ms-flex-align: center;
      align-items: center;
  background-color: #FBF7F8;
  border-radius: 45px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 90px;
  -ms-flex-pack: center;
      justify-content: center;
  width: 90px;
}
.icon-circle svg {
  fill: #f45d51;
  width: 51px;
  height: 51px;
}
.re-validation--image-wrapper {
  text-align: center;
  margin: 27px 0 24px;
}
.re-validation--logo {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  height: 48px;
  background-image: url(../images/ober-haus-logo.png);
  margin: 21px 0 20px;
}
.re-validation--text {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 446px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}
.file-upload-control--file {
  background-color: #FBF7F8;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  margin: 5px 0 0;
}
.file-upload-control--file:first-child {
  margin-top: 24px;
}
.file-upload-control--file-icon {
  margin-right: 10px;
}
.file-upload-control--file-icon svg {
  width: 18px;
  height: 18px;
  fill: #f45d51;
}
.file-upload-control--file-name {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.file-upload-control--file-remove {
  display: none;
}
.file-upload-control--file-remove---inited {
  display: block;
}
.file-upload-control--file-preloader svg {
  width: 18px;
  height: 18px;
  fill: #f45d51;
}
.file-upload-control--file-preloader---loaded {
  display: none;
}
.page-content {
  padding: 0;
}
@media screen and (max-width: 1023px) {
  .page-content {
    padding: 0 34px;
  }
}
@media screen and (max-width: 767px) {
  .page-content {
    padding: 0 15px;
  }
}
.seperator-line {
  background-color: #FBF7F8;
  height: 2px;
  margin: 24px 0;
  width: 100%;
}
.list--item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  line-height: 24px;
  padding-left: 15px;
}
.list--item::before {
  content: "•";
  position: absolute;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  left: 0;
}
.split-input-error--error {
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -ms-flex-order: 9;
      order: 9;
  width: 100%;
}
.split-input-error--error---hide {
  display: none;
}
.split-input-error--error-text {
  color: #FF1944;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  width: 100%;
}
.split-input-error--error-icon {
  min-width: 10px;
  background: url(../images/icons/error-triangle.svg) no-repeat center center;
  background-size: contain;
}
.wait {
  margin: 24px 0;
}
.wait--preloader {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.wait--preloader svg {
  fill: #0a3443;
  width: 40px;
  height: 40px;
}
.wait--main-message {
  color: #0a3443;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}
.label {
  color: #8B9399;
  cursor: text;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", "sans-serif";
  margin-bottom: 7px;
}
.cms-user-block {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  /* Modifiers */
}
.cms-user-block--wrapper {
  background-color: #8B9399;
  cursor: pointer;
  height: 80px;
  position: relative;
  width: 290px;
}
.cms-user-block--info {
  color: white;
  padding: 0 34px 0 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.cms-user-block--avatar {
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cms-user-block--avatar svg {
  fill: #FFF;
  height: 30px;
  width: 30px;
}
.cms-user-block--name,
.cms-user-block--company-name {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.cms-user-block--company-name {
  font-size: 12px;
  line-height: 14px;
}
.cms-user-block--dropdown-caret {
  margin-top: -3px;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: transform .3s ease;
}
.cms-user-block--dropdown-caret svg {
  fill: #FFF;
  height: 12px;
  width: 12px;
}
.cms-user-block--dropdown {
  bottom: 0;
  opacity: 1;
  position: absolute;
  transform: translateY(0);
  width: 100%;
  z-index: -1;
}
.cms-user-block--dropdown-item {
  background-color: #BDBEC0;
  color: #FFF;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  padding: 8px 15px;
  width: 100%;
  text-decoration: none;
}
.cms-user-block--dropdown-item:hover {
  background-color: #FBF7F8;
  color: #8B9399;
}
.cms-user-block--dropdown-item:nth-child(n+2) {
  border-top: 1px solid #ccc;
}
.cms-user-block---expanded .cms-user-block--dropdown-caret {
  transform: rotate(225deg);
}
.cms-user-block---expanded .cms-user-block--dropdown {
  animation: dropdown-fade-in 0.3s;
  animation-fill-mode: forwards;
}
.cms-user-block---collapsed .cms-user-block--dropdown {
  animation: dropdown-fade-out 0.3s;
  animation-fill-mode: forwards;
}
@keyframes dropdown-fade-in {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  1% {
    display: block;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}
@keyframes dropdown-fade-out {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  99% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
