.alternative-button {
  background-color: #ffffff;
  border-radius: 100px;
  border: 2px solid #022f40;
  color: #022f40;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width: 132px;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: @color-soft-peach;
  }
}