.primary-link {
  background-color: transparent;
  border: none;
  color: @color-oslo-gray;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    color: @color-silver-sand;
  }

  &---sharper {
    color: @color-tiber;

    &:hover {
      color: @color-oslo-gray;
    }
  }
}