@primary-button-background-color: @color-carnation;
@primary-button-hover-background-color: @color-froly;
@primary-button-text-color: @color-white;
@primary-button-prefix-fill-color: @color-well-red;
@primary-button-suffix-fill-color: @color-white;
@primary-button-primary-value-svg-fill: @color-white;

.primary-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 100px;
  border: none;
  overflow: hidden;
  padding: 9px 14px 11px;
  background-color: @primary-button-background-color;
  transition: background-color .3s ease;
  text-decoration: none;
  line-height: 20px;

  @media screen and (max-width: 767px) {
    justify-content: center;
    width: 100%;
  }

  &:hover {
    background-color: @primary-button-hover-background-color;

    .primary-button--secondary-value {
      animation: expand-and-fade-primary-button-value .3s;
      animation-fill-mode: forwards;
    }
  }
  &:focus {
    outline: none;
  }

  &--prefix {
    padding-top: 1px;
    text-align: left;

    svg {
      fill: @primary-button-prefix-fill-color;
      height: 18px;
      width: 18px;
    }
  }
  &--value {
    color: @primary-button-text-color;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25em;
    padding: 0 17px;

    a {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      text-decoration: inherit;
    }

    &---mobile-number {
      white-space: nowrap;
    }
  }
  &--suffix {
    padding-top: 2px;
    text-align: right;

    svg {
      fill: @primary-button-suffix-fill-color;
      height: 12px;
      width: 12px;
    }
  }

  &--primary-value {
    color: @primary-button-text-color;
    margin: 0 -4px;


    svg {
      fill: @primary-button-primary-value-svg-fill;
      height: 20px;
      width: 20px;
      padding: 4px 0 2px;
    }
  }
  &--secondary-value {
    color: @primary-button-text-color;
    margin-left: -28px;
    max-width: 0;
    opacity: 0;
    padding: 0 14px;
    height: 15px;
  }

  /* Modifiers */
  &---mobile-only-prefix {
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
      padding: 5px 6px 6px;

      .primary-button--value {
        display: none;
      }
      .primary-button--suffix {
        display: none;
      }
    }
  }
  &---mobile-only-suffix {
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
      padding: 4px 9px 6px;

      .primary-button--value {
        display: none;
      }
      .primary-button--prefix {
        display: none;
      }
    }
  }

  &---round,
  &---roundish {
    width: 40px;
    height: 40px;
    padding: 0;

    .primary-button--value {
      padding: 0;
      text-align: center;
      width: 100%;
    }
  }

  &---roundish {
    width: 32px;
    height: 32px;
    border-radius: 4px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &---expand {
    width: 100%;

    .primary-button--value {
      width: 100%;
    }
  }

  &---download-button {
    background-color: @color-soft-peach;

    &:hover {
      background-color: @color-silver-sand;
    }

    .primary-button--prefix {
      svg {
        fill: @color-carnation;
      }
    }
    .primary-button--value {
      color: @color-tiber;
    }
  }
}

@keyframes expand-and-fade-primary-button-value{
  0% {
    max-width: 0;
    opacity: 0;
    margin-left: -28px;
  }
  50% {
    max-width: 320px;
    opacity: 0;
    margin-left: 0;
  }
  100% {
    max-width: 320px;
    opacity: 1;
    margin-left: 0;
  }
}