@color-white: #FFF;
@color-soft-peach: #FBF7F8;
@color-silver-sand: #BDBEC0;
@color-oslo-gray: #8B9399;
@color-steel-blue: #448ba5;
@color-deap-sea-green: #0a4860;
@color-tiber: #0a3443;
@color-puerto-rico: #46BFA5;
@color-lochinvar: #26927B;
@color-pippin: #ffe5e3;
@color-froly: #F27268;
@color-carnation: #f45d51;
@color-well-red: #b5382e;
@color-torch-red: #FF1944;
@color-shiraz: #bc0f30;
