.content-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  //overflow: hidden;

  &---responsive {
    padding: 0 34px;
    max-width: 1242px;

    @media screen and (max-width: 767px) {
      padding: 0 15px;
    }
  }
}