@cross-line-color: @color-tiber;
@hover-background-color: @color-soft-peach;

.cross {
  cursor: pointer;
  height: 13px;
  position: relative;
  width: 13px;
  display: inline-block;

  &:hover {
    background-color: @hover-background-color;
  }

  &::before,
  &::after {
    background-color: @cross-line-color;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 18px;
  }

  &::before {
    left: 1px;
    transform-origin: 0 0;
    transform: rotate(45deg);
  }

  &::after {
    right: 0;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
  }
}