@cross-line-color: @color-tiber;
@hover-background-color: @color-soft-peach;

.flash {
  max-height: 100vh;
  max-width: 386px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 25px 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;

  &:empty {
    display: none;
  }

  &--item {
    border-radius: 4px;
    border: 1px solid;
    display: flex;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    transform: translateX(120%);
    opacity: 0;

    animation: flash-item-fade-in .4s;
    animation-fill-mode: forwards;

    /*Modifiers*/
    &---success {
      border-color: @color-puerto-rico;

      .flash--icon {
        background-color: @color-puerto-rico;
        fill: @color-lochinvar;
      }
    }
    &---info {
      border-color: @color-steel-blue;

      .flash--icon {
        background-color: @color-steel-blue;
        fill: @color-deap-sea-green;
      }
    }
    &---warning {
      border-color: @color-torch-red;

      .flash--icon {
        background-color: @color-torch-red;
        fill: @color-shiraz;
      }
    }
    &---error {
      border-color: @color-torch-red;

      .flash--icon {
        background-color: @color-torch-red;
        fill: @color-shiraz;
      }
    }

    &---collapsing {
      animation: flash-item-fade-out .4s;
      animation-fill-mode: forwards; 
    }
  }

  &--icon {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
    }
  }
  &--message {
    background-color: @color-white;
    color: @color-tiber;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px;
    width: 100%;
    word-break: break-all;
  }

  &--close {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  &--cross {
    height: 10px;
    position: relative;
    width: 10px;
    display: inline-block;

    &:hover {
      background-color: @hover-background-color;
    }

    &::before,
    &::after {
      background-color: @cross-line-color;
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      width: 14px;
    }

    &::before {
      left: 1px;
      transform-origin: 0 0;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      transform-origin: 100% 0;
      transform: rotate(-45deg);
    }
  }
}

@keyframes flash-item-fade-in {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flash-item-fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  45% {
    opacity: 0;
  }

  90% {
    opacity: 0;
    transform: translateX(120%);
  }

  100% {
    height: 0;
    margin: 0;
  }
}