.grid {
  margin: -20px -10px;

  @media screen and (max-width: 1023px) {
    padding: 0 34px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 15px;
    margin: -5px -5px;
  }

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
  }

  &--full {
    padding: 20px 10px;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 5px;
    }
  }

  &--half {
    padding: 20px 10px;
    width: 50%;

    @media screen and (max-width: 767px) {
      padding: 5px;
    }
  }

  &--one-third {
    padding: 20px 10px;
    width: 33.3333%;

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 5px;
    }
  }

  &--two-thirds {
    padding: 20px 10px;
    width: 66.6666%;

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      padding: 5px;
    }
  }
}