@h1-primary-color: @color-tiber;

@h3-primary-color: @color-tiber;
@h3-inverted-color: @color-white;

@h4-primary-color: @color-carnation;

.h1 {
  color: @h1-primary-color;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.h3 {
  color: @h3-primary-color;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 18px;
  font-weight: 600;

  &---invert {
    color: @h3-inverted-color;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }

}

.h4 {
  color: @h4-primary-color;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;

  &---invert {
    color: @color-white;
  }

  &--icon {
    margin-right: 5px;
    width: 18px;
    height: 18px;

    svg {
      width: 18px;
      height: 18px;
      fill: @h4-primary-color;
    }
  }
  &--text {

  }
}