/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  //font: inherit;
  vertical-align: baseline;
}
button:focus {
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="number"],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;

}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

body {
  line-height: 1;
  background-color: @color-soft-peach;
  position: relative;
  overflow-y: scroll;
}

.display-only-for-print {
  display: none;
}

.hide {
  display: none;
}

.prefab {
  display: none;
}

@media print {
  body * {
    display: none!important;
  }
  .display-only-for-print, .display-only-for-print * {
    display: block;
  }
  .display-only-for-print {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

select::-ms-expand {
  display: none;
}
